/*Framework for the buttons (which generally contain the titles of each event)*/
button {
  border: none;
  cursor: pointer;
  outline: none;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Makes it so that the lines and text of the timeline 
  don't stack together and make the timeline look confusing*/
.timeline {
  white-space: nowrap;
}

/*Positioning of the timeline in the window*/
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 130px 0;
}

/*The display of the line of the timeline*/
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 216px;
  height: 4px;
  background: #fff;
}


/*Aligns each white line segment to be in the proper position, 
  relative to the each event point (yellow dot)*/
.timeline ol li:not(:first-child) {
  /*margin-left: 14px; */
}

/*The display of each event point in the timeline*/
.timeline ol li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%; /*Determines the "roundness" of each point*/
  background: #ffff00;
  display:none;
}

/*The positioning of the event information 
(in the div of each list item)*/
.timeline ol li div {
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black; /*The color of the hover text*/
  /*z-index:2;*/
}

/*Specific position of each odd list item
  --makes the odd list items go above the timeline*/
.timeline ol li:nth-child(odd) div {
  top: -0.1vh;
  transform: translateY(-50%);
}

/*Keeps the timeline within a window*/
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
}

/*Establishes the dimensions and display of 
  the primary div that contains the timeline*/
#playground {
    margin: 1vh 2vw;
    padding: 3em 1em;
    border: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 70%;
}

input#keywords {display:inline;}

/*Keeps the timeline event buttons centered above the timeline points*/
.timeline li .timeline-description {
  border-radius: 2px;
  float: left;
  padding: 10px;
  width: 42%;
  left:0px;
  position:relative;
  z-index:10;
}
}

.dropdown {
  width:100%;
  display: inline-block;
  font-size: 24;
}

.dropdown-content {
  display: none;
  background-color: #ffffff;
  font: 20px "Comic Sans MS", serif, bold;
  border-color: white;
  height:inherit;
  width:inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font: 20px;

}


/*The display of the timeline event button*/
.dropbtn {
  padding: 10px;
  font: 1.5em "Comic Sans MS", serif, bold;
  cursor: pointer;
  width:100%;
  min-width: 8vw;
  height: inherit;
  background-color: #FFFFFF;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
  box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30);
}

.dropdate {
  font: 1.5em "Comic Sans MS", serif, bold;
  cursor: pointer;
  min-width: 8vw;
  height: inherit;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(100%,#ffff00)); /* webkit */
}

/*Keeps the even timeline event buttons 
  properly spaced above the hover texts*/
.timeline ol li:nth-child(odd) div .dropdate{
  margin-bottom: -20vh;
}

.timeline ol li:nth-child(even) div .dropdate{
  margin-top: -5.9vh;
}

/*Keeps the odd timeline event buttons 
  properly spaced above the hover texts*/
.timeline ol li:nth-child(odd) .dropbtn{
  margin-bottom:1vh;
}


/*Makes the button images visible*/
button img {height:100%;width:100%;}

/*The display of the left-scrolling button*/
.scrollButtonLeft {
  position: fixed;
  top:3vh;
  right:30vw;
  width: 6vw;
  height:4.5vw;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 10px;
}

/*The display of the right-scrolling button*/
.scrollButtonRight {
  position: fixed;
  top:3vh;
  right:20vw;
  width: 6vw;
  height: 4.5vw;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 10px;
}

/*The display of the return to the leftmost side button*/
.returnToLeftmost {
  position: fixed;
  top:3vh;
  right:10vw;
  width: 7vw;
  height: 5vw;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 10px;
}

/*The display of the Search label*/
label {
    display:inline;
    float:left;
    font-size:1.5em;
    margin:4vh 0 0 2vw;
}

/*The display of the search bar*/
.searchBar {
  font: 18px "Comic Sans MS", serif, bold;
  display:inline;
  float:left;
  margin:3vh 15px;
  width: 25vw;;
  height: 7vh;
  border-radius: 10px;
}

/* DROPBTN/POPUP WINDOW DISPLAY*/
.popup {
    font-size:30px;
    font-stretch: 1;
    margin-top: -30vh;
    left: 15%;
    width: 70%;
    overflow-y:hidden;
}

/* display of buttons on popup */
button.img.play, button.img.activity {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

.popup button {
  margin: 3vh;
  display:inline-block;
  margin-left: -55;
}

#dismiss-popup {
    color: white;
    margin-left: 1vh;
    background: red;
    width: 3vw;
}