#main-container, #main-container-horizontal, #main-container-vertical {
	background-image: url("../images/kate_background.png");
	color:#888;

}
 #toolbar-container, #toolbar-container-vertical {
 	background-color:#ffff99;

 }

button {
	-moz-box-shadow:inset 0 0 0 -1px #fbafe3;
	-webkit-box-shadow:inset 0 0 0 -1px #fbafe3;
	box-shadow:inset 0 0 0 -1px #fbafe3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EE9DC7), color-stop(1, #ED3694) );
	background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
	background-color:#ff5bb0;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-right-radius:14px;
	border-bottom-left-radius:14px;
	text-indent:0;
	border:1px solid #ee1eb5;
	color:#ffffff;
	font: bold 3em;
	cursor: pointer;
	text-shadow:1px 1px 0 #D70B75;
    border-left: 5px solid #D70B75 ;
	border-bottom: 5px solid #D70B75;
}
button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ED3694), color-stop(1, #EE9DC7) );
	background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
	background-color:#ef027d;
    border-left: 5px solid #D70B75 ;
	border-bottom: 5px solid #D70B75;
}


button.active{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EE9DC7), color-stop(1, #ED3694) );
    border-left: 2px solid #D70B75 ;
	border-bottom: 2px solid #D70B75;
}