div#main-container-horizontal {
	position:relative;
	text-align:center;
}
table {
	margin:auto;
	height:60%;
	width:100%;
	table-layout: fixed;
	border-spacing: 10px;
	border-collapse:collapse;
	cell-padding: 0px;
}

td {padding:10px}

#display {
       padding-left: 10px;
       font-size: 4em;
       font-family: "Comic Sans MS", "Comic Sans", cursive;
       text-align:right;
       vertical-align: middle;
       background-color: #ffffff ;
	   margin: 5% 0 2% 0;
       height:15%;
       width: 75%;
       border:3px solid blue;
       border-radius: 3px;
       color:black;
}

button.calc-button {
	padding:0;
	margin:0;
    border:1px solid #606060;
    display:inline-block;
    font-size:50px;
    line-height:28px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration:none;
    text-align:center;
    min-height: 10vh;
    width: 100%;

}
