/*
LOOMA css code file
Filename: looma-picture-player.css
Description: The style sheet.

Programmer name: Thomas Woodside, Charlie Donnelly, and Sam Rosenberg
Email: thomas.woodside@gmail.com, charlie.donnelly@menloschool.org, sam.rosenberg@menloschool.org.
Owner: VillageTech Solutions (villagetechsolutions.org)
Date: 7/1/16
Revision: 0.4
*/

/* All styling of the slider was taken from the following website
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
.img-thumbnail img { /* Styles the image thumbnails */
    padding:1px;
    border: 4px solid white;
    opacity: .5;
    height: 15vh;
    display : inline-block;
}
#img-thumbs { /*thumbnails of the images*/
    height: 15vh;
    white-space:nowrap;
}
#thumb-div {/*div containing thumbnails*/
    overflow-x: scroll;
    overflow-y: hidden;
}
.thumbnail-controls { /*things that control the thumbnails*/
    position: relative;
    height: 15vh;
    margin-top: 5px;
    font-size: 1.2em;
}
.active img { /* To persist the effect when images are hovered to when they are clicked. */
    opacity: 1;
    border-color: #ffd100;
}
.main-slideshow > * { /* Styles the main slideshow to be the correct height */
    margin-top: 5vh;
    height: 60vh;
    position: relative;
}
.captions-div-start { /* When divs are not extended due to carrot */
    left: 19vw;
}

.captions-div-end{ /* Whn divs are extended */
    left: 30vw;
}

.captions-div { /* styles the entirety of the captions div, the buttons, textarea, and display */
    display: block;
    position: fixed;
    height: 8vh;
    width: 58vw;
    top: 5vh;
    color: #0e0e0e;
    text-shadow: 2px 2px 8px #ffffff;
}
#caption-text {/*the text of the captions*/
    background-color : rgba(255, 255, 255, 0.5);
    font-size: 4vh;
}
#caption-text.fullscreen {/* when the text goes fullscreen */
     top : 4vh;
     width: 100%;
 }


.captions-div textarea {
    width: 40vw;
    height: inherit;
    display : none;
    background-color : rgba(255, 255, 255, 1);
}
.captions-div #submit {
    display: none;
    top: 0;
    position: absolute;
    right: 50vw;
    width: 10vw;
    font-size: 100%;
}

.transparent {
    background-color: transparent;
}
.slide-controls * button{ /* The pause/play buttons */
    height: 9vh;
    width: 80%;
    font-size: 1.2em;
}
/* skip - moved play/pause button to above fullscreen button
.full_play {
    position:fixed;
    top: 76vh;
    left: 70vw;
    opacity: 0.5;

}
*/

#controllers.full_play {
    position: fixed;
    opacity: 0.4;
    left:87%;
    top:75%;
    height: 10vh;
    width:  15vh;
}

.controls img, .thumbnail-controls img { /* next/previous/forward scroll/backward scroll button icons */
    height: auto;
    max-width : 100%;
}
.img-thumbnail img:hover {  /* Effect when images are hovered */
    opacity: 1;
    border-color: #ffd100;
}
.previous{
    transform: scale(.833, .833);
}
.previous img{ /* rotates the back arrow across the y  */
    transform: rotateY(180deg);
}
.previous:hover { /* adjusts back arrow by flipping */
    transform: scale(1, 1)
}
.next { /* initial button size */
    transform: scale(.833, .833);
}
.next:hover{ /* enlarges button upon hover 20% */
    transform: scale(1.0,1.0);
}
#main-img { /* styling of the large image */
    margin: auto;
    height: 100%;
    width: auto;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
.img-thumbnail { /* erases border and padding to line up all image thumbnails */
    border: 0;
    padding: 0;
}
.ui-sortable-placeholder {
    vertical-align: top;
}
#edit {
    position: absolute;
    right: 50vw;
    height: 8vh;
    width: 10vw;
    font-size: 100%;
}
button.small { /* resizes the buttons to control the slideshow */
    position: relative;
    height: 8vh;
    width: 80%;
}
button.small span.tip.native-tip, button.small span.tip.english-tip, #edit span.tip.native-tip, #edit span.tip.english-tip {
    font-size: 1.2em;
    top: 0;
}
img.small { /* resizes and aligns the icons to control the slideshow */
    position: relative;
    height: 6vh;
    vertical-align: middle;

}

img.noDrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.disabled {
    opacity: 0.3;
}
#screenfull {
    height: 60vh;
    width: 66.666666%;
    margin-top: 5vh;
}
#screenfull.fullscreen {
    height: 100vh;
    width: auto;
    margin-top: 0;
}
#fullscreen-control.fullscreen {
    position: fixed;
}

li.ui-sortable-helper {
    position: relative;
}

.nonExtendTrash{
    left: 75vw;
}
#delete {
    position: fixed;
    z-index: 1;
    top: 5vh;
    width: 5vw;
}
.slide-controls * button span.tip.native-tip, .slide-controls * button span.tip.english-tip {
    font-size: 1em;
    top: 0;
}
.carrot{
    height: 10vh;
    width: 10vh;
    align-content: left;
}
.extendTrash {
    left: 83.5vw;
}

.center-captions {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#pause{
    display: none;
}
#slide{
    top: 50%;
    width: 25vw;

}
#slider-div {
    top: 2.75vh;
    position: relative;

}

input[type=range]{
    -webkit-appearance: none;
    height: 10px;
    width: 100px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: grey;
    height:50px;
    width: 50px;
    border-radius: 25px;
}

/*#retract{
transform: rotateY(180deg);
}*/

#thumb-div::-webkit-scrollbar {
    display: none;
}
#retract{
    width: 35%;'
}
.all-transparent {
    opacity: .6;
}


