/*
LOOMA css file
Filename: looma-play-lesson.css
Programmer name: SCU [rev 1], Skip [rev 2,3]
Owner: VillageTech Solutions (villagetechsolutions.org)
Date: Rev 1 - Spring 2016, Rev 2 - 2017 01 29
Revision: 3.0
*/

html {
    box-sizing: border-box;
}

body {
    display:grid;
    grid-template-rows:   [top]  repeat(9, 1fr)  [timeline] 1fr            [bottom];
    grid-template-columns:[left] repeat(17, 1fr) [middle]   repeat(4, 1fr) [right];
}

#main-container-horizontal {
    grid-row: top / timeline;
    grid-column: left / right;
    margin:0;
    background-color:lightgray;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    color:black;
}

#timeline-container {
    grid-row: timeline / bottom;
    grid-column: left / middle;
    overflow-x: scroll;
    overflow-y: hidden;
}

#video-player {height:100%;}

#fullscreen {
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
}



#fullscreen:fullscreen {
    height:100vh;
    margin:auto;
}

#viewer {
    height:100%;
    width:100%;
}
/*
#video {
    position:relative;
    font-size:0.9vw;
    height: 75vh;
    width: 75vw;
    margin:auto;
}

#video:fullscreen {
    height: 100vh;
    width: 100vw;
}
*/

#viewer video {
    height: 75vh;
    width: 75vw;
    max-height:75vh;
    max-width:75vw;
}
#media-controls {
    height:14vh;
    width:100%;
    position:absolute;
    bottom:0;
}

.time {color:yellow;}
/*
#fullscreen:fullscreen #viewer {
    height:100%;
    width:100%;
}
*/
#fullscreen:fullscreen #viewer video, #fullscreen:-webkit-full-screen #viewer video {
    height:100%;
    width:100%;
    max-height:100%;
    max-width:100%;}





#controlpanel {
    grid-row: timeline / bottom;
    grid-column: middle / right;
}
/*
#media-controls-container {
    position:absolute;
    height:14vh;
    width:80vw;
    top:75vh;
    left:10vw;
    margin: 0 auto;
}
*/

#timeline-container::-webkit-scrollbar {
    display: none;
}

#timeline::-webkit-scrollbar {
    display: none;
}

.popup { z-index:2147483647;} /* to show on top of fullscreen */

button.looma-control-button { display: inline-block;}

button#fullscreen-control {
    display:inline-block;
    bottom:16vh;
}

button.speak {
    display:inline-block;
    bottom:27vh;
}

button.lookup {
    display:inline-block;
    bottom:38vh;
}

button#fullscreen-playpause {
    display:none;
    bottom:76vh;
    height:10vh;
    width:10vh;
}

#fullscreen-buttons:fullscreen {
    position:absolute;
    right:0;
}

button#next-item {
    bottom:49vh;
   /* display:none;*/
}

button#prev-item {
    bottom: 60vh;
    /*display:none;*/
}

button#next-item:fullscreen,
button#next-item:-webkit-full-screen {
    display:inline-block;
}

button#prev-item:fullscreen,
button#prev-item:-webkit-full-screen {
    display:inline-block;
}

span.hint {
    position:absolute;
    top:45%;
    
    padding:10vh 0 0 0;
    color:#888;
    z-index:-1;
}

#viewer img {
    height:100%;
    max-height:100%;
    max-width:100%;
}

#viewer img:fullscreen, #viewer img:-webkit-full-screen {
    height:100%;
    max-height:100%;
    max-width:100%;}

#timeline {
    display: inline-flex;
    bottom:0;
    left:0;
    z-index:100;
    height:100%;
    width:100000px;
    /*max-width:100%;*/
    padding:1px;
    background-color:var(--looma-toolbar);
    color:black;
    vertical-align:middle;
    
    overflow-x: scroll;
    overflow-y: hidden;
}


#controlpanel {
    z-index: 1000;
    background-color:var(--looma-toolbar);
    height:100%;
    width: 100%;
  
    vertical-align:middle;
    border-radius: 3px;
}

#title {
    position:absolute;
    right:0;
    bottom:11vh;
    text-align:right;
    /*margin-right:3vw;*/
    background-color: black;
    color:yellow;
    padding: 5px;
}

#subtitle {
    background-color:white;
    color:black;
    width:100%;
    border:2px solid black;
    border-radius:5px;}

button.activity {display:none;}

button.lesson-element {
    position: relative;
    margin:auto 2px;
    padding:0;
    z-index:200;
    max-height:80%;
    min-width:5vw;
    float:left;
    vertical-align:top;
}
button.lesson-element.playing, button.lesson-element:focus {
    border:3px solid blue;
 }
 
button.lesson-element .name{
    display:none;
}


.pop {
    position:absolute;
    top: -3vh;;
    left: 40vw;
    color: black;
    background-color:white;
    font-size: 1em;
    min-height:25px;
    min-width:75px;
    border: 2px solid black;
    border-radius: 2px;
    /*z-index: 4000;*/
}

button.lesson-element span {display:none;}

button.lesson-element img {
    vertical-align:top;
    min-height:6vh;
    max-height:8vh;
    width:5vw;
}

span .filename {
    text-align:center;
    float:none;
}

span#lesson-name {
    color:black;
}

#button-box {
    position:relative;
    display: inline-flex;
    float:right;
    height: 90%;
    width:100%;
    margin:auto;
    vertical-align:middle;
}

.control-button {
    position: relative;
    background: white;
    background-position: left top;
    background-size: 100% 100%;
    margin: 0 0.5vw 0 0.5vw;
    width:60%;
    height:100%;
}

.control-button-fullscreen {
    position: absolute;
    
    display:none;
    
    opacity:0.4;
    background: white;
    background-position: left top;
    background-size: 100% 100%;
    margin: 0 0.5vw 0 0.5vw;
    width:10vh;
    height:10vh;
    z-index:2;
}

.control-button img, .control-button-fullscreen img {
    margin: 0;
    padding: 0;
    height: 70%;
    width: 70%;
    /*vertical-align:middle;*/
}

#dismiss {
    color : white;
    background-color: red;
    border-color: red;
    /*width: 3vw;*/
}
#return {height:100%;}

#back,    #back-fullscreen    { background-image: url("../images/carrot-back.png"); }
#forward, #forward-fullscreen { background-image: url("../images/carrot-fwd.png"); }
#dismiss                      { background-image: url("../images/back-arrow.png"); }
#pause                        { background-image: url("../images/play-button.png"); }

#forward-fullscreen {
    position:absolute;
    top:35vh;
    right:5vw;
}

#back-fullscreen    {
    position:absolute;
    top:46vh;
    right:5vw;
}

#fullscreen:fullscreen .control-button-fullscreen {
    display:block;
}

#fullscreen .text-display {
    height:100%;
    /*zoom: 250%;*/
    /*font-size:2.4em;*/
    font-size:2.4vw;
    margin:0 auto;
    overflow: hidden;
    /*background-color: #091F48;  */
    /*color: yellow;  */
    /*font-size: 20px;*/
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    
}

.text-display:fullscreen {
   /* font-size:3.8em;
    font-size:2.9vw;*/
    zoom:120%;
}

#audio-viewer h2 {color:white;}
