html, body {
  overflow: hidden;
}

body{
  font-family: sans-serif;
  background: #EBEBEB;
}

.hidden {
  display:none;
}

.highlighted {
  background-color: #FFFBCC;
}

img.thumbnail {
  height: 30%;
}

/* Over Arching Container For Page*/
.container-fluid {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
  min-height: 100%;
  overflow:hidden;
}

.heading {
  background-color: #e87510;
  padding: 7px;
  height: 60px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#fileStructure {
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
}

.fileResult {
  width: 30%;
}

.fileStructureTD {
  width: 100%;
}

#searchBar {
  width: 50%;
  margin-left: 15px;
}

.directoryButton {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #ff8533;
  padding: 5px 18px 5px 18px;
  text-decoration: none;
}

.directoryButton:hover {
  background: #ff6600;
  text-decoration: none;
}

.fileButton {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #999999;
  padding: 5px 18px 5px 18px;
  text-decoration: none;
}

.fileButton:hover {
  background: #b5b5b5;
  text-decoration: none;
}

.contentPreview {
  width: 48%;
  height: 70%;
  margin-top: 5px;
  margin-left: 2%;
  background-color: white;
  border-radius: 3px;
}

.newTabButton {
  margin-left: 10px;
}

.preview {
  width: 120%;
  height: 56%;
  margin-top: 5px;
  margin-left: 1%;
  background-color: white;
  border-radius: 3px;
}

.contentFilters{
  padding-top: 10px;
}

#titleInput {
  width: 50%;
}

.edit {
  padding: 4px;
  height: 20%;
  width: 120%;
  margin-top: 9px;
  margin-left: 1%;
  background-color: white;
  border-radius: 3px;
}

.results {
  width: 42%;
  height: 77%;
  overflow: scroll;
  background-color: white;
  margin-top: 5px;
  border-radius: 3px;
}

.center {
  text-align: center;
}

.centerVert {
  vertical-align: center;
  padding-top: 14px;
}

.search {
  padding: 3px;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: left;
}

img.logo {
  height: 50px;
  align-content: center;
  margin: auto;
}

.lessonButton {
  margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.lessonButton:hover {
	background-color:#e9e9e9;
}

.lessonButton:active {
	position:relative;
	top:1px;
}

footer.well {
    margin-top: 0px;
    border-bottom: none;
}
.result {
  background-color: grey;
  padding-left: 30px;
}
.fullResult {
  display: none;
  border: 1px solid transparent;
}

.well {
  margin: 10px;
}

.chapterResults {
  margin-left: 30%;
}

#modeSelector {
}

#chapterNavOpener {
  margin-top: 10px;
}

#inputButton {
  margin-top: 10px;
}

#subjectSelect {
  margin-top: 10px;
}

#unassignButton {
  margin-top: 10px;
  margin-left: 35%;
}

#contentNavButton {
  margin-left: 45%;
  margin-bottom: 7px;
}

#searchLessonButton {
  margin-top: 10px;
}

#chapterSearchBar {
  width: 60%;
  margin-left: 20%;
}
