/* Map Game */
h1 {
	text-align: center;
}

#txtOutput{
    color: black;
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 0%;
    font-size: 1.75em;
    text-align:center;
}


canvas {
    width:1000px;
    height:650px;
}


#endOutput{
}
