/*
.keyboardContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: inherit;
    z-index: 2147483648;
    display: none;
}
*/

.keyboardContainer {
    position: fixed;
    top: 15vh;
    left: 11vw;
    width: 85vw;
    height: 72vh;
    max-height:85vh;
    max-width:85vw;
    background-color: inherit;
    z-index: 2147483648;
    display: none;
}

.keyboard {
    /*margin: 0 auto;*/
    max-width: 100%;
    max-height:100%;
    display: inline-block;
}

.keyboard-row {
    height:12vh;
    width:100%;
    text-align:center;
}

.keyboard-button {
    //float: left;
    margin: 3px;
    /*padding: 15px;*/
    /*width: 7.6%;*/
}

#keyboard-backspace { width: 6vw;}
#keyboard-backspace img { height:75%;}

.key-normal .key-shifted {
    width: 6%;
}

#keyboard-space {
    width:65%;
    margin:6px 10px 0 0;
    float:none;
}

#keyboard-hide {
    width:24vw;
    
    float:right;
}

.keyboard-space {
    visibility: hidden;
}

.key-normal {
    display: block;
    width: 60px;
}

.key-shifted {
    display: none;
    width: 60px;
}

.key-nepali {
    display: none;
    width: 60px;
}

.key-nepali-shifted {
    display: none;
    width: 60px;
}

.shifted .key-normal {
    display: none;
}

.shifted .key-shifted {
    display: block;
}

.nepali .key-normal, .nepali .key-shifted, .nepali.shifted .key-shifted {
    display: none;
}

.nepali .key-nepali {
    display: block;
}

.nepali.shifted .key-nepali {
    display: none;
}

.nepali.shifted .key-nepali-shifted {
    display: block;
}

#keyboard-language {
    width: 200px;
}

#englishButtonText {
    display: none;
}

.nepali #englishButtonText {
    display: inline;
}

.nepali #nepaliButtonText {
    display: none;
}

.shifted #keyboard-shift {
    color: green;
}

br {
    clear: both;
}

#inputEntry, #textareaEntry {
    border-radius: 8px;
    font:inherit;
    font-size: 3.5em;
    width:33vw;
    margin: 10px;
    color: black;
}

#textareaEntry { text-align: right;}

