.text-display{
    height: 100%;
    width: 100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:yellow;
    background-color: #091F48;

    padding:1vh 1vw;
    
   /* font-size:1em;
    line-height:0.8em;
    */
    zoom:175%;
}

.text-display:fullscreen {
    zoom:400%;
}
