body {
    display:grid;
    grid-template-rows: [top] repeat(9,1fr) [toolbar] 1fr [bottom];
    grid-template-columns: [left] repeat(17,1fr) [toolbar] 1fr [right];
    grid-gap: 8px;
}

#main-container-horizontal {
    grid-row: top/toolbar;
    grid-column: left/right;
    display:grid;
    grid-template-rows: repeat(9,1fr);
    grid-template-columns: repeat(17,1fr);
}

button {font-size:1.2em;}
button:hover {color:blue;}

button.show-keyboard {
    display:inline-block;
}

p#prompt {
    grid-row: 2 / 3;
    grid-column: 2/5;
    font-size:1.5em;
    position:relative;
    top:3vh;
}

input {
    grid-row: 2 / 3;
    grid-column: 6 / -2;
    border-radius: 5px;
    font-size:2em;
    color:red;}



#mimic {
    grid-row: 4/6;
    grid-column:2/6;
}

#piper {
    grid-row: 4/6;
    grid-column: 7/11;
}

#synthesis {
    grid-row: 4/6;
    grid-column: 12/16;
}

#rateDiv {
    grid-row: 7/7;
    grid-column: 3/15;
    font-size:1.5em;
    text-align:left;
}

div#voicelist {
    grid-row:8/9 ;
    grid-column: 3/15;
    font-size:1.5em;
    text-align:left;
}
