/*
Filename: looma-search.css
Description:
Associated code files: looma-search.php
Programmer name: Bo, Skip
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:  summer 2017, apr 2018
Revision: Looma 3.0
*/


/****************************************/
/********** search-panel specs **********/
/****************************************/
#search-panel {

    overflow-y:hidden;
    font-size: 1em;
}
form#search *{
    text-align: center;
   /* vertical-align:middle; */
    margin-bottom: 0;
}

#search-kind {
    float:left;
    margin-left:2vw;
 }
 
form#search select {
    width:18vw
}

#chapter-lang {display:none;}

#chapter-drop-menu {max-width:25vw;}

/***************************************/
/******** search-bar div specs *********/
/***************************************/
div#search-bar-div{
    text-align: center;
}
button#media-submit, button#chapter-submit{
    display: inline-block;
    width: 9vh;
    height: 8vh;
    vertical-align: middle;
    background-color:white;
    border-radius: 4px;
}

button#media-submit img, button#chapter-submit img{
    height:100%;
    width:100%;
}

button#media-submit:disabled {
    opacity:0.5;
}

#ellipsis {min-width:10vw;}

button.clear-search {display:inline-block;}

input#search-term {
    text-align: left;
    vertical-align: middle;
    padding-left: 2px;
    border-radius:4px;
    /*font-size: 1.4em; */
    width:40%;
}
#search span {font-weight:bold;
    display:inline;}

#search span.xlat {display:none;}
input[type='checkbox'] {zoom:2.0;}

/***************************************/
/******** checkbox filter specs ********/
/***************************************/
/*.flt-chkbx, .filter-radio{
    -webkit-transform: scale(2);}
*/

span.typ-chk, span.src-chk{
    margin-right: 8px;
}

/******* source-filter div specs *******/
div#source-div{
}

/***************************************/
/******** chapter-filter specs *********/
/***************************************/

#grade-div, #subject-div, #chapter-div {display:inline-block;}

.chapter-filter{
    display: none;
}

select.chapter-filter, select.chapter-input {
    font:inherit;
    color:black;
}

select.keyword-filter {
    font:inherit;
    color:black;
    width:12vw;
    margin-left:4px;
    padding-left:2px;
}

span.drop-menu {
    margin-right: 10px;
}
.black-border {
    border: 2px solid black;
    border-radius: 5px;
}

/***************************************/
/********* cancel button specs *********/
/***************************************/
button.cancel-search {
    margin: 0 15px;
    border: 2px solid white;
    background-color: white;
    width: auto;
    font-size: 1.5em;
    background: #2e3192;
    color: white;
}

#search span.typ-chk {display:none;}
/* the above line turns OFF all the TYPE checkboxes
    to turn some or all ON, use CSS, like this
    
#search span.typ-chk[data-id="image-chk"] {display:inline-block;}
#search span.typ-chk[data-id="text-chk"] {display:inline-block;}

 */

form#search span.typ-chk:hover, form#search span.src-chk:hover {
    font-size:1.2em;
}
