 /*
Author: Alexa Thomases, May Li, Catie Cassani
Filename: looma-history.css
Verion: 2.0
Date: July 2017
Description:  
*/

/*Framework for the buttons (which generally contain the titles of each event)*/
button {
  border: none;
  cursor: pointer;
  outline: none; 
}

/* Controls the font size of the header so it doesn't change in different Looma themes */
h1 {
  font-size: 3em;
  margin-top: 3vh;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Makes it so that the lines and text of the timeline 
  don't stack together and make the timeline look confusing*/
.timeline {
  white-space: nowrap;
}

/*Positioning of the timeline in the window*/
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 18vh 0; 
}

/*The display of the line of the timeline*/
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  left: -20vh;
  width: 30vw;
  height: 0.5vh; 
  background: #ff0; 
}


/*Aligns each white line segment to be in the proper position, 
  relative to the each event point (yellow dot)*/
.timeline ol li:not(:first-child) {
  /*margin-left: 14px; */
}

/*The display of each event point in the timeline*/
.timeline ol li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 0.5vw); 
  bottom: 0;
  width: 4vw; 
  height: 4vh; /* 1vh is about 4px !!!! */
  transform: translateY(-50%);
  border-radius: 50%; /*Determines the "roundness" of each point*/
  /* background: #ffff00; */
  display:none;
}

/*The positioning of the event information 
(in the div of each list item)*/
.timeline ol li div {
  left: calc(100% + 2vw); 
  width: 35vw;
  padding: 4vh; 
  font-size: 1rem;
  white-space: normal;
  color: black; /*The color of the hover text*/
  /*z-index:2;*/
}

/*Specific position of each odd list item
  --makes the odd list items go above the timeline*/
.timeline ol li:nth-child(odd) div {
  top: -0.1vh;
  transform: translateY(-50%);
}

/*Keeps the timeline within a window*/
@media screen and (max-width: 90vw) { 
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
}

/*Establishes the dimensions and display of 
  the primary div that contains the timeline*/
#playground {
    margin: 1vh 2vw;
    padding: 3em 1em;
    border: 0.1vh solid #ccc; 
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 75%;
    margin-top: 3vh;
}

::-webkit-scrollbar { 
  width: 7vw; 
  height: 6vh; 
}

input#keywords {display:inline;}

/*Keeps the timeline event buttons centered above the timeline points*/
.timeline li .timeline-description {
  border-radius: 0.2vh; 
  float: left;
  padding: 2vh; 
  width: 42%;
  left: 0vw; 
  position:absolute;
  z-index:10;
}

.dropdown {
  width:100%;
  display: inline-block;
  font-size: 24;
}

 .dropdown-content {
  display: none;
  /* background-color: #ffffff; */
  font: 1.5em "Comic Sans MS", serif, bold; 
  border-color: white;
  height:inherit;
  width:inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font: 1.5em; 

}


/*The display of the timeline event button*/
.dropbtn {
  padding: 2vh;
  font: 2.5em "Comic Sans MS", serif, bold; 
  cursor: pointer;
  width:100%;
  min-width: 8vw;
  /* margin-top: 1vh; */
  /*margin-bottom: 3vh; */
  height: inherit;
  /* background-color: #FFFFFF; */
  /* color: black; */
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
}

.dropdate {
  font: 2.2em "Comic Sans MS", serif, bold;
  cursor: pointer;
  min-width: 8vw;
  height: inherit;
  padding: 2vh;
  margin-top: 1vh;
  background: #dadaff;
}

/*Keeps dropdate button the same colors when its hovered over*/
button.dropdate:hover {
  background-color:#dadaff;
  color:black;
  margin: none;
}

/*Keeps the even timeline event buttons 
  properly spaced above the hover texts*/
.timeline ol li:nth-child(odd) div .dropdate{
  margin-bottom: -8.7vh;
  margin-top: 0.5vh;
}

.timeline ol li:nth-child(even) div .dropdate{
  margin-top: -9.5vh;
  margin-bottom: 0.5vh;
}

/*Keeps the odd timeline event buttons 
  properly spaced above the hover texts*/
.timeline ol li:nth-child(odd) .dropbtn{
  margin-bottom:1vh;
}


/*Makes the button images visible*/
button img {height:100%;width:100%;}

/*The display of the left-scrolling button*/
.scrollButtonLeft {
  position: fixed;
  top:2vh;
  right:30vw;
  width: 6vw;
  height: 10.2vh;
  padding: 2vh; 
  cursor: pointer;
  min-width: 7.5vw; 
  border-radius: 2vh; 
}

/*The display of the right-scrolling button*/
.scrollButtonRight {
  position: fixed;
  top:2vh;
  right:21vw;
  width: 6vw;
  height: 10.2vh;
  padding: 2vh;
  cursor: pointer;
  min-width: 7.5vw;
  border-radius: 2vh;
}

/*The display of the return to the leftmost side button*/
.returnToLeftmost {
  position: fixed;
  top:2vh;
  right:12vw;
  width: 7vw;
  height: 10.2vh; /* !!!!! */
  padding: 2vh;
  cursor: pointer;
  min-width: 7.5vw;
  border-radius: 2vh;
  display: none;
}

/*The display of the Search label*/
label {
    display:inline;
    float:left;
    font-size:1.5em;
    margin:4vh 0 0 2vw;
}

/*The display of the search bar*/
.searchBar {
  font: 1.5em "Comic Sans MS", serif, bold;
  display:inline;
  float:left;
  margin:3vh 15px;
  width: 23vw;;
  height: 7vh;
  border-radius: 2vh;
}

/*The display of the on-screen keyboard button*/
.show-keyboard-button {
  top: 13vh;
  left: 2vw;
}

/*The display of the full-screen button*/
button#fullscreen-control {
  bottom: 9vh;
  right: 3.5vw;
}


/*The display of the prev button (for searching)*/
#previous {
 position: fixed;
  top:3vh;
  right:58vw;
  width: 6vw;
  height:7vh;
  padding: 2vh;
  cursor: pointer;
  min-width: 7.5vw;
  border-radius: 2vh;
  font-size: 1.5em;
  display: none;
}

/*The display of the next button (for searching)*/
#next {
 position: fixed;
  top:3vh;
  right:50vw;
  width: 6vw;
  height:7vh;
  padding: 2vh;
  cursor: pointer;
  min-width: 7.5vw;
  border-radius: 2vh;
  font-size: 1.5em;
  display: none;
}

.popup {
    font-size: 2.5em;
    font-stretch: 1;
    margin-top: -30vh;
    left: 15%;
    width: 70%;
    overflow-y: visible;
    max-height: 93vh;
    padding: 30px;
}

/* Display of the scrollbar in the popup*/
::-webkit-scrollbar {width:40px;}

button.speak {
    position: absolute;
    top: 14vh;
    right:2%;
    height:10%;
    width:7.5%;
    z-index:1000;
    opacity: 0.4;
    background-image: url("../images/speech.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
    /*  img:src = images/speak.png */
}

button.lookup {
    position: absolute;
    top: 2vh;
    right:2%;
    height:10%;
    width:7.5%;
    z-index:1000;
    opacity: 0.4;
    background-image: url("../images/dictionary.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

/* display of media buttons on popup */
button.img.play, button.img.activity {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

/*Keeps media buttons from enlarging when hovered over*/
button.img:hover {
  transform: scale(1,1);
}

.popup button {
  margin: 3vh;
  display:inline-block;
  margin-left: -55;
}

#dismiss-popup {
    color: white;
    margin-left: 1vh;
    background: red;
    width: 3vw;
}