#main-container-horizontal {
    margin:0;
}

button.subject {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position:center;
}
button.subject.active {
    background-color: #00f;
    
}
button#add  {       background-image:url('../images/plus.png');  }
button#add.active { background-image:url('../images/plus-white.png');
    }

button#sub  {       background-image:url('../images/minus.png');  }
button#sub.active { background-image:url('../images/minus-white.png');
}

button#mult  {      background-image:url('../images/times.png');  }
button#mult.active {background-image:url('../images/times-white.png');
    }

button#div  {       background-image:url('../images/divide.png');  }
button#div.active  {background-image:url('../images/divide-white.png');
 }

