/*
LOOMA css file
Filename: xxx.css
Description:
Associated code files:
Programmer name:
Email:
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:
Revision: Looma 2.0.x

Comments:
*/

body {
    color:black;
    background-color:#eee;
}

h1 {background-color:#F0EC1A}

.admin {
    display:none;
}
.btn-toolbar {
    text-align:center;
    display:inline-block;
    color:black;
}

.container {
    margin: 0 auto;
    width: 95vw;
}
#main-container-horizontal{
    background-color: #eeeeee;
}

button.result {
    color:white;
    background:#2E3192;
}

#title {
    position: absolute;
    top: 1vh;
    left:5vw;
    width:25vw;
    height: 7vh;
    padding-left: 2vw;
    text-align: left;
    float:left;
    border:1px solid black;
    color:black;
    font-size: 0.8em;
    background-color:white;
    border-radius:2px;
}


#editor {
    height: 35vh;
    width: 35vw;
    zoom: 200%;
    margin:0 auto;
    overflow:hidden;
    color:black;
    margin-top: 1vh;
    padding: 0 0;
    border: 1px solid black;
}

/*
#editor::before {
    content: "";
    width: 2.2vw;
    height: 35.2vh;
    background-color: white;
    left: 4vw;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

#editor::after {
    content: "";
    width: 2.2vw;
    height: 35.2vh;
    background-color: white;
    right: 4vw;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
*/
#editor div {
    white-space: nowrap;
}

#commands {
    top: 1vh;
}

#editor b {
    font-weight: bold;
}
#dismiss {
    bottom: 8vh;
}
#timelineLeft    {
    background-size: 100% 100%;
    background-image: url("../images/carrot-back.png");
    background-color:white;
}

#timelineRight {
    background-size: 100% 100%;
    background-image: url("../images/carrot-fwd.png");
    background-color:white;
}
