body {
	background-color: pink;
			/* medium blue is #1853C1;*/
			/* "looma" dark blue is #091F48;*/
	color:#000;
}

button {
	background-color: #a00;
	border: 2px solid black;
	border-radius: 5px;
	font: bold 3em;
	cursor: pointer;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0.3) 100%); /* Chrome10+,Safari5.1+ */
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30);


	/* COLORS:
	 * 	lime	59b606
	 * blue		027bbf
	 * pink		8ff
	 * lt blue	f8f
	 */
}

button.active {
    background:none;
    background-color: #080;
    color:yellow;
}
