#main-container-horizontal {
    overflow-y:auto;
}

.color-choice {

    display:inline-block;
    margin:2vh;
    background-color:white;
}
.swatch {

    display:inline-block;
    min-height:3vh;
    min-width:3vh;
    margin:2vh;
}