/******************************
Author: Luke Bowsher, Catie Cassani, Sun-Mi Oh, Meg Reinstra, Alexa Thomases
Filename: looma-game-list.css
Date: June 2018
Description: formats the preferences page
*****************************/

#main-container-horizontal {overflow:hidden;}
#fullscreen {overflow:hidden;}

#thescreen {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 12% 80% 8%;
  height: 100vh;
  width: 100vw;
}

#header
{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 1px solid yellow;
}

#middle
{
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  border: 1px solid yellow;
  overflow-y: auto;
}

#teams-message
{
  margin-right: 8em;
}

#play
{
  float: right;
}

.game-button-div {
    display: flex;
    align-items: center;
    justify-content: center;}

.game-button-div button {
    margin:5px;
    height:15vh;
    width:15vh;
}

#row2 {font-size:2em;}
#row4 {font-size:0.6em;}
#row5, #row6 {font-size:2em;}

button[title="buttons"]
{
  position: relative;
  max-width: auto;
  max-height: 15%;
  font-size: 400%;
  margin: 3px;
  font-weight: bold;
}

.subject, .quiz, .random-class, .random-subj {display:none;}
