
button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
}

button.lookup {
    display:inline-block;
}

button.show-keyboard {
    display:inline-block;
}

iframe {background-color:white;}

#column-one {display:none !important;}