#map {
    width: 100%; height: 100%;
}

div.viewer img {
    height: auto;
}

/* All of the info boxes in the map */
.info {
    padding: 10px 8px;
    font: 26px Arial, Helvetica, sans-serif;
    color: #555555;
    background: #f4f4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* The legend and the writing in it, overrides .info */
.legend {
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #555;
}

/* The boxes in the legend */
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Images in the info box for the map */
img.info-image{
    width: 120px;
    height: 80px;
}

/*Images in the popup box for the map*/
img.pop-image{
    width: 275px;
    height: 183px;
}

/* Pop-ups */
.leaflet-popup-content{
    font-size: 20px;
    color: #555555;
    height: auto;
}

/* Some websites say that this way to style the boxes is sketchy, but it works for our purposes */
input[type="checkbox"]{
    transform:scale(1.4, 1.4);
}
input[type="radio"]{
    transform:scale(1.4, 1.4);
}
