/* add-on CSS for looma-viewer.html PDf viewer
 * hides many buttons from default PDF viewer [these could be removed from the HTML file instead]
 *
 * changes BUTTON ICONS to LOOMA icons
 *
 * adds LOOMA styling for SCROLLBAR
 *
 * Skip - 2016-03
 */

body {
  height: 100%;
  /* delete looma-PDFjs-viewer.css background-color. use current looma-theme color instead*/
  background-color: transparent;
  background-image: none;
}

#sidebarContainer {
  visibility: visible;
}

#sidebarContent {
  background-color: transparent;
}

#toolbarSidebar {
  background-color: yellow;
  background-image: none;
}

#toolbarContainer, .findbar, .secondaryToolbar {
  vertical-align: middle;
  background-color: yellow;
  background-image: none;
}

.sidebarOpen .splitToolbarButton {
  visibility: visible;
}

html[dir='ltr'] .splitToolbarButton > .toolbarButton {
  border-radius: 5px;
  float: left;
}

.splitToolbarButton:hover > .toolbarButton,
.splitToolbarButton:focus > .toolbarButton,
.splitToolbarButton.toggled > .toolbarButton,
.toolbarButton.textButton {
/*  background-image: inherit;*/
  background-clip: border-box;

  border: 2px solid white;
  border-color: transparent;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: linear;
  z-index: auto;
}

.splitToolbarButton > .toolbarButton:hover,
.splitToolbarButton > .toolbarButton:focus,
.dropdownToolbarButton:hover,
.overlayButton:hover,
.toolbarButton.textButton:hover,
.toolbarButton.textButton:focus {
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .05) inset, 0 0 1px hsla(0, 0%, 100%, .15) inset, 0 1px 0 hsla(0, 0%, 100%, .05);
}

.dropdownToolbarButton {
  background: url(../images/looma-up-down.png) no-repeat;
}

html[dir="ltr"] .secondaryToolbarButton::before {
  left: auto;
}
html[dir="rtl"] .secondaryToolbarButton::before {
  right: auto;
}

html[dir='ltr'] .toolbarButton#sidebarToggle::before {
  content: normal;
}
html[dir='rtl'] .toolbarButton#sidebarToggle::before {
  content: normal;
}

html[dir='ltr'] .toolbarButton#secondaryToolbarToggle::before {
  content: url(../images/toolbarButton-secondaryToolbarToggle.png);
}
html[dir='rtl'] .toolbarButton#secondaryToolbarToggle::before {
  content: url(../images/toolbarButton-secondaryToolbarToggle-rtl.png);
}

#viewThumbnail.toolbarButton::before {
  background: url(../images/looma-viewThumbnail.png);
}

html[dir="ltr"] #viewOutline.toolbarButton::before,
html[dir="rtl"] #viewOutline.toolbarButton::before {
  background: url(../images/looma-viewOutline.png);
}

html[dir='ltr'] .toolbarButton.findPrevious::before,
html[dir='rtl'] .toolbarButton.findPrevious::before {
  background: url(../images/looma-up-smaller.png);
}

html[dir='ltr'] .toolbarButton.findNext::before,
html[dir='rtl'] .toolbarButton.findNext::before {
  background: url(../images/looma-down-smaller.png);
}

html[dir='ltr'] .toolbarButton.pageUp::before,
html[dir='rtl'] .toolbarButton.pageUp::before {
  background: url(../images/looma-up-smaller.png);
}

html[dir='ltr'] .toolbarButton.pageDown::before,
html[dir='rtl'] .toolbarButton.pageDown::before {
  background: url(../images/looma-down-smaller.png);
}

.toolbarButton.zoomOut::before {
  background: url(../images/looma-minus-smaller.png);
}

.toolbarButton.zoomIn::before {
  background: url(../images/looma-plus-smaller.png);
}

#viewThumbnail.toolbarButton::before,
html[dir="ltr"] #viewOutline.toolbarButton::before,
html[dir="rtl"] #viewOutline.toolbarButton::before,
html[dir='ltr'] .toolbarButton.findPrevious::before,
html[dir='rtl'] .toolbarButton.findPrevious::before,
html[dir='ltr'] .toolbarButton.findNext::before,
html[dir='rtl'] .toolbarButton.findNext::before,
html[dir='ltr'] .toolbarButton.pageUp::before,
html[dir='rtl'] .toolbarButton.pageUp::before,
html[dir='ltr'] .toolbarButton.pageDown::before,
html[dir='rtl'] .toolbarButton.pageDown::before,
.toolbarButton.zoomOut::before,
.toolbarButton.zoomIn::before
{
  content: "";
  background-size: 100%;
}

.toolbarButton.presentationMode::before,
.secondaryToolbarButton.presentationMode::before {
  content: url(../images/toolbarButton-presentationMode.png);
}

.toolbarButton.print::before,
.secondaryToolbarButton.print::before {
  content: url(../images/toolbarButton-print.png);
}

.toolbarButton.openFile::before,
.secondaryToolbarButton.openFile::before {
  content: url(../images/toolbarButton-openFile.png);
}

.toolbarButton.download::before,
.secondaryToolbarButton.download::before {
  content: url(../images/toolbarButton-download.png);
}

.toolbarButton:hover:active,
.overlayButton:hover:active,
.dropdownToolbarButton:hover:active,
.secondaryToolbarButton:hover:active {
  background-image: inherit;
}

.toolbarButton::before {
  position: absolute;
  left: 3px;
}

.toolbarField {
  height: 80%;
}

.toolbarField.pageNumber {
  width: 8vh;
}

#viewer.textLayer-visible .textLayer > div,
#viewer.textLayer-hover .textLayer > div:hover {
  background-color: blue;
}

#viewer.textLayer-shadow .textLayer > div {
  background-color: blue;
}

/* Findbar popout alignment */
html[dir='ltr'] .findbar {
  left: 180px;
}

/* removing more images */
#viewAttachments.toolbarButton::before {
  content: none;
}

#viewFind.toolbarButton::before {
  content: none;
}

#toolbarSidebar toolbarButton {visibility:hidden;}

      #viewAttachments {
        display: none;
      }

      #toolBarViewerRight {
        display: none;
      }

      #presentationMode {
        display: none;
      }

      #openFile {
        display: none;
    }

      #print {
        display: none;
      }

      #download {
        display: none;
      }

      #viewBookmark {
        display: none;
      }

      #secondaryToolbarToggle {
        display: none;
      }

      #scaleSelectContainer {
        /*display: none;*/
      }

      #viewFind {
        /*display: none;*/
      }

      #firstPage {
        display: none;
      }

#toolbarContainer, .findbar, .secondaryToolbar #toolbarViewer{
	height: 64px;
	background-color: yellow;
 }

.toolbarButton {
	height:60px;
	width: 60px;
	margin: 5px;
	background-color: #FFFFFF;
	color:black;
	border: 2px solid white;
	border-radius: 3px;
	font: bold 3em;
	cursor: pointer;
}



#zoomOut {
      	color: black;
/*      	height:60px;*/
/*      	width: 60px;*/
      }
#zoomIn {
      	color: black;
/*      	height:60px;*/
/*      	width: 60px;*/
      }


#viewFind.toolbarButton {
  background: url(../images/looma-search.png) no-repeat;
  background-size: 100% 100%;
}

.toolbarButton.zoomOut {
  background: yellow;
  background-size: 100% 100%;
}

.toolbarButton.zoomIn {
  background: yellow;
  background-size: 100% 100%;
}

.toolbarButton#sidebarToggle {
  background: url(../images/looma-info.png) no-repeat;
  background-size: 100% 100%;
}

.toolbarButton.pageUp {
  background: yellow;
  background-size: 100% 100%;
}

.toolbarButton.pageDown {
  background: yellow;
  background-size: 100% 100%;
}

.toolbarButton.findPrevious {
  background: yellow;
  background-size: 100% 100%;
}

.toolbarButton.findNext {
  background: yellow;
  background-size: 100% 100%;
}

#pageNumberLabel {
  top: 10%;
}

/* CSS to make toolbar resizeable relative to window height*/

#toolbarContainer, #toolbarViewer,
#toolbarviewerRight, #toolbarViewerLeft,
#toolbarSidebar {
  height: 7vh;
}

.toolbarButton, .dropdownToolbarButton, .secondaryToolbarButton, .overlayButton,
.toolbarField, .toolbarLabel,
.dropdownToolbarButton > select {
  font-size: 3vh;
}

.toolbarButton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 6.5vh;
  height: 6.5vh;
}

.toolbarButton::before {
  background-size: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* end toolbar resizing stuff */


/* Code that removes stuff from HTML */
#secondaryPrint, #firstPage, #lastPage, #toggleHandTool,
option[value="0.75"], option[value="1.25"], option[value="1.5"], option[value="3"]{
  display: none;
}

::-webkit-scrollbar-track-piece {
    background: #aaaaff; /*light blue*/
}
::-webkit-scrollbar-thumb {
     -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.75);

    -webkit-border-radius: 35px;
    /*border: 2px solid red;*/
    border-radius: 35px;

 /* background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(206,206,206,1));*/ /*Safari 5.1-6*/

background: -webkit-linear-gradient(left, #ffffff, #dfdfdf, #cecece);

	/*
	background: -webkit-gradient(linear, left top, right top,
		from(#fff)
		color-stop(0.5, #dfdfdf),
		to(#cecece)
		*/
	);
}
::-webkit-scrollbar { width:40px;}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 35px;
}

/* ********   LOOMA    ******** */
button.looma-control-button {
    position: fixed;
    right:5vw;
    display:none;
    opacity: 0.4;
    z-index: 1000;
    height: 10vh;
    width:  10vh;
    background-repeat: no-repeat;
    background-position: center;
}
button#fullscreen-control {
    bottom:11vh;
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/fullscreen2.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7);  /*transparent light gray*/
}

button.speak {
    bottom:22vh;
    background-image: url("../images/speech1.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button.lookup {
    bottom:33vh;
    background-image: url("../images/dictionary.png");
    background-size: 75% 75%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
}

button.lookup {
    display:inline-block;
}
