#main-container, #main-container-horizontal, #main-container-vertical {
 	background-color:#0c99d5;
 	color:yellow;
}
 #toolbar-container, #toolbar-container-vertical {
 	background-color:#3adf00;
 }
button {
	background-color: #fff;
	color: #000;
	border: 0;
	border-radius: 0;
	font: bold 3em;
	cursor: pointer;
    /* background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0.3) 100%);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30);  */
}

button:hover {
  	background-color: #bbb;
  	background-image:none;
  }

button.active {
    background-color: #0000FF;
    color:yellow;
}
