#bins {
    min-width:90vw;
    height:60vh;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.bin {
    display:flex;
    flex-direction: column;
    
    width:25vw;
    height: 50vh;
    margin:auto;
    background-color:white;
    color:green;
    border:4px solid  yellow;
    border-radius: 5px;
}
.heading {
    font-size:3em;
    width:30vw;
    margin:auto;
}

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
    bottom:23vh;
}
button.lookup {
    display:inline-block;
    bottom:35vh;
}
#words {
    background-color:white;
    border:4px solid  yellow;
    color:red;
    font-size: 5em;
    border-radius: 5px;
    width:30vw;
    height:15vh;
    margin:auto;
}
#word, .ui-draggable-dragging {
    width:20vw;
    margin:auto;
    font-size:4em;
    color:red;
}

p.dragging {
    color:blue;
    font-size:3em;
    margin:0;
}
p.dropped {
    color:green;
    font-size:3em;
    margin:0;
}

#next_button {
    position:absolute;
    right:15vw;
    bottom:8vh;
    height:8vh;
    width:15vw;
}

$next_button img {
    height:80%;
 }

#divstyle {
    width: 700px;
    height: 300px;
    padding-top: 20px;
    padding-left: 5px;
    text-align: center;
    background-color: cadetblue;
}
#drag {
    width: 150px;
    height: 100px;
    background: #eee;
    text-align: center;
    padding-top: 30px;
}

button.looma-control-button {
    right: 1vw;
}