
#main-container-horizontal {
    display:grid;
    grid-template-rows:  1fr 1fr 10fr;
    grid-template-columns: [left] 3fr [middle] 1fr [right];
}

#title {
     grid-row: 1;
     grid-column: left / middle;
 }

#about {
    grid-row: 2 /-1;
    grid-column: left / middle;
}

 #logos {
     background-color: white;
     border-radius:5px;
     padding:5px;
     margin: 0 3vw;
 }

 img.loomalogo {
     height:10vh;
 }
 
 #credits-title {
     grid-row: 1;
     grid-column: middle;
     margin-right:5vw;
 }
 
 #credits {
     grid-row: 2 / -1;
     grid-column: 2;
     border-radius:5px;
     background: #fff;
     color:black;
     margin:3px 5px;
     height:100%;
     width:75%;
    
     overflow:hidden;
     text-align:center;
 }

#credits li {list-style-type: none;}

span {
    margin:auto;
}

h5 {
    text-align:left;
    margin-left: 5vw;
}

 #sizemessages {
     position:absolute;
     left:3vw;
     bottom:5vh;
 }
 
 .screensize, .bodysize, .ip{
     /*color:black;*/
     vertical-align:middle;
     text-align:left;
     font-size: 0.5em;
 }
 
 .ip {font-size:1em;}

 #trademark {
     position:relative;
     left:-120px;
     top:-20px;
 }
