/*
LOOMA css file
Filename: looma-text.css
Description:
Associated code files:looma-text.php
Programmer name:skip
Email:
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:Oct 16
Revision: Looma 2.4

Comments:
*/
#fullscreen {
    height: 75vh;
    font-size: 1.5em;
    width: 75vw;
    background-color: #091F48;
    color: yellow;
    padding: 5%;
    margin: 10vh auto;
    overflow: hidden;
}

#display:fullscreen {
    width:95vw;
    height:95vh;
}

#display {
    zoom:200%;
}

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
}

button.lookup {
    display:inline-block;
}
