
.keyboardContainer {
    position: fixed;
    top: 14vh;
    left: 5vw;
    width: 90vw;
    background-color: inherit;
    z-index: 2147483648;
    display: none;
    border-radius:5px;
    border:2px solid white;
    max-height:80vh;
    font-size:2.3vh;
}

#looma-keyboard {
    max-width: 100%;
    max-height:100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.keyboard-row {
    height:12vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.keyboard-button {
    margin:4px;
    min-width:5.2vw;
    text-align:center;
    vertical-align:middle;
    font-size:6vh;
}

.keyboard-button:hover {
    background-color: lightyellow;
    border: 2px solid blue;
}

#keyboard-backspace { max-width:7vw;}

#keyboard-backspace img { height:75%;}

#keyboard-space {flex: 7;}

#keyboard-hide {flex:2;}

#keyboard-language {flex:2;}

span.languageButtonText img {vertical-align:top;}

.keyboard-space {
    visibility: hidden;
}

.key-normal {
    display: block;
}

.key-shifted {
    display: none;
}

.key-nepali {
    display: none;
}

.key-nepali-shifted {
    display: none;
}

.shifted .key-normal {
    display: none;
}

.shifted .key-shifted {
    display: block;
}

.nepali .key-normal, .nepali .key-shifted, .nepali.shifted .key-shifted {
    display: none;
}

.nepali .key-nepali {
    display: block;
}

.nepali.shifted .key-nepali {
    display: none;
}

.nepali.shifted .key-nepali-shifted {
    display: block;
}

#englishButtonText {
    display: none;
}

.nepali #englishButtonText {
    display: inline;
}

.nepali #nepaliButtonText {
    display: none;
}

.shifted #keyboard-shift {
    color: green;
}

#inputEntry, #textareaEntry {
    border-radius: 8px;
    font:inherit;
    font-size: 3.5em;
    text-align:center;
    width:55vw;
    margin: 10px;
    color: black;
}

#textareaEntry { text-align: right;}

