/*
    NOTE: suggested CSS resets that we could try
    
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
    }
    
    body {
      line-height: 1;
    }

 */

html {
    --looma-green: #063006;  /*green  = 063006 for TEST Looma */
    --looma-purple:#800080;  /*purple = 800080 for INDIA Looma */
    --looma-blue:#091F48;    /* Looma blue = 091F48 for regular Looma */
    --looma-background: var(--looma-blue);
    --looma-toolbar:yellow;
    --looma-font-color:yellow;
    --looma-button-background:white;
    --looma-button-font-color:black;
    
    --looma-button-hover-background:white;
    --looma-button-hover-font-color:black;
    
    --looma-button-active-background:var(--looma-background);
    --looma-button-active-font-color:var(--looma-font-color);
    
    --looma-scrollbar-track:lightgoldenrodyellow;
    background-color: white;
    height:100vh;
    width:100vw;xxx
    position:relative;
    margin:0;
    padding:0;
}
body {
    box-sizing: border-box;
    position: relative;
	margin:0;
	padding:0;
    height:100vh;
    width:100vw;
    
    font-family: "Comic Neue", "Comic Sans MS", "Chalkboard", sans-serif;
    
    background-color: var(--looma-background);
    color: var(--looma-font-color);
    
	overflow: hidden;
	text-align: center;
    word-wrap:break-word;
}

body {
     display:grid;
     grid-template-rows:    [top]  repeat(9, 1fr) [toolbar] 1fr [bottom];
     grid-template-columns: [left] repeat(16, 1fr)[toolbar] 1fr [right];
 }
 
body * {
    -webkit-user-drag:none;
    font-family:inherit;
}

#fullscreen {
    background-color: var(--looma-background);
}

#main-container-horizontal {
    grid-row:    top / toolbar;
    grid-column: left / right;
    max-height:100%;
    overflow:hidden;
    position:relative;
    text-align: center;
    margin:0;}

#main-container-vertical {
    grid-row:    top / bottom;
    grid-column: left / toolbar;
    overflow:hidden;
    text-align: center;
}

#toolbar-container {
    grid-row:    toolbar / bottom;
    grid-column: left / right;
}

#toolbar-container-vertical {
    grid-row:    top / bottom;
    grid-column: toolbar / right;
 }

#main-container {
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	text-align: center;
	top:0;
	left:0;
	margin:auto;
}

.scroll {overflow:auto;}

#main-container.scroll            { overflow:auto; }
#main-container-horizontal.scroll { overflow:auto;}
#main-container-vertical.scroll   { overflow:auto; }

::-webkit-scrollbar-track-piece {
    background: var(--looma-scrollbar-track); /*light blue*/
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.75);
    -webkit-border-radius: 35px;
    border-radius: 35px;
    background: -webkit-linear-gradient(left, #ffffff, #dfdfdf, #cecece);
}
::-webkit-scrollbar { width:40px;}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 35px;
}

h1.title, h2.title, h3.title {
    font-weight:bold !important;
	margin:auto;
	text-align:center
}
h1.title {font-size:4em;}
h2.title {font-size:3em;}
h3.title {font-size:2em;}

.title h1{
    font-size:4em;
    margin-top:3vh;
    margin-bottom:5vh;
}

h1 span {display:inline-block;}

.credit{
    text-align: right;
    margin-right:5px;
    font-size: 10px;
    line-height: 12px;

    position: fixed;
    right:3vw;
    bottom:10vh;
    width:25vw;
}
/* UNKNOWN
#amazon {width:10px;}
#amazon img {height:4vh;width:5vw;}
*/

div.viewer {
	width:100%;
	height:100%;
	overflow:hidden;
}

div.viewer img {
	margin: 0 auto;
	max-width: 100%;
	height: 100%;
}

input, select {
    color:black;
    background-color:white;
}

input[type="range"] {
	display: inline;
	width:50%;
}

/*    the following TABLE styling should probably be in looma-home.css and others (library, histories, games ??) */

table {
    width:100%;
    height:100%;
    overflow:hidden;
    border-collapse: separate;
    border-spacing: 15px;
    table-layout: fixed;
}

table#dir-table {
    height:0;
    max-height:30%;
}

table#file-table, table#lesson-table {
    height:0;
}

th, td {
    width: 30%;
    max-width:30%;
    overflow: hidden;
    text-align: center;
    padding: 4px 5px;
}

th {
    max-height:50px;
}

td button, th button {
    font-size: 1.5em;
    width:90%;
    height:100%;
    margin: 5px;
    overflow:hidden;
}

button img#flag {height: 100%;}

/*------------------------*/
/* BUTTON styling here. "button" defines color, background and font. "button.classname" defines sizes (height, width, font-size, etc)*/
/*------------------------*/

button {
	background-color:var(--looma-button-background);
	color:var(--looma-button-font-color);
	border-color: #FFFFFF;
	border: 5px;
	border-radius: 5px;

	display:inline-block;
	height:80%;

	overflow: hidden;
    /*vertical-align:middle;*/
	text-align:center;
}

button:hover {
	color: var(--looma-button-hover-font-color);
	background-color:var(--looma-button-hover-background);
	border-color: yellow;
    border-width:4px;
	/*transform: scale(1.5,1.5);*/
}

button.active {
    color:            var(--looma-button-active-font-color);
    background-color: var(--looma-button-active-background);
    border:2px solid yellow;
}

button#back-button {
	    background-image: url("../images/back-arrow.png");
	    background-size: 80% 80%;
	    background-repeat: no-repeat;
	    background-color: transparent;
	    position:absolute;
	    right:3%;
	    bottom:12%;
	    height:8%;
	    width:7%;
	    border:none;
	    box-shadow: none;
	    z-index:1000;
	    cursor: pointer;
}

.little {
	font-size:0.35em;
	line-height:1em;
	padding:0;
	margin:0;
}

/* for slideshow

button.with-play {
    float:left;
    width:20%;
}

button.with-play.img img {
    width: 100%;
    color: red;
    display: inline;
}

button.beside-play {
    display: inline;
    width:70%;
}
 */

/* following should be in TOOLBAR.CSS  ????   */
#padlock {
    position:absolute;
    right:1vw;
    bottom:6vh;
    height:3vh;
    width: 3vh;
}

#login-id {
        position:absolute;
        display:none;
        right:0;
        bottom:0;
        color:red;
        font-size: 0.8em;
}

span#datetime {
	margin:0 0 5px 0 ;
	display:inline-block;
	color: #000;
}

img.looma-logo.native-keyword {display:none;}


/* UNKNOWN
button.navigate {
	width:25vw;
	font-size: 4em;
}
*/

/*****************
 * 'xlat' and 'tip' classes are tooltip popups
 *
 * "xlat" on hover shows a translation of the <span> in the upper right (fixed) of the screen
 *
 * "tip" on hover shows a small tooltip for a button (like a Looma toolbar button) giving the text name for the button's icon
 ********************/
h1 span.english-keyword, h1 span.native-keyword {
    display:inline-block;
}

.xlat {display:none;}

span:hover .xlat {
    display:block;
    position:fixed;
    top:20px;
    right:15px;
    z-index: 1000;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color:#FAFCAC;
    font-size: 1em;
    color:#000000;}

span.tip { display:none;}

button.hidden {display:none;}  /*used in looma-wikipedia.php*/

button:hover span.tip.yes-show 	{
    position:absolute;
    display:block;
   bottom: 0vh;
   /* right:5vw;*/
    margin:auto;
    
    font-size: 0.7em;
    
    z-index: 100;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #C4E9F5;
    color:#000000;}

button:hover span.tip.yes-show.big-show {
    
    display:none;
    
    font-size:0.5em;
    left:60vw;
    padding:0 auto;
    width:30vh;
}

/*****************
 * buttons of class 'speak' and 'lookup' and 'show-keyboard' and id "fullscreen-control" can be placed on any page
 * they are 'fixed' on the page and semi-transparent
 *
 * they are all class="looma-control-button" to get their common CSS
 ********************/
button.looma-control-button {
    position: fixed;
    right:5vw;
    display:none;
    opacity: 0.4;
    z-index: 1000;
    height: 10vh;
    width:  10vh;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:none;
}

button#fullscreen-control {
    bottom:11vh;
    display:none;
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/fullscreen2.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7);  /*transparent light gray*/
}

button.speak {
    bottom:22vh;
    display:none;
    background-image: url("../images/speech1.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button.lookup {
    bottom:33vh;
    display:none;
    background-image: url("../images/dictionary.png");
    background-size: 75% 75%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button.download {
    bottom:55vh;
    display:none;
    background-image: url("../images/download.png");
    background-size: 75% 75%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button#next-item {
    bottom:44vh;
    /*display:none;*/
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/carrot-fwd.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button#prev-item {
    bottom:56vh;
    /*display:none;*/
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/carrot-back.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button.show-keyboard {
    bottom: 44vh;
    background-image: url("../images/keyboard.png");
    background-size: 110% 110%;
    background-color: rgba(200,200,200,0.7);
}

button#bagh-chal {
    bottom: 44vh;
    background-image: url("../images/alquerque_board.png");
    background-size: 80% 80%;
    background-color: rgba(200,200,200,0.7);
}

.popup {
    position:fixed;
    top:10%;
    left:25%;
    margin:auto;
    padding: 5px;
    overflow:auto;
    width:50%;
    background-color:#fff;
    color:black;
    font-size:2.5em;
    /*white-space: pre;*/
    border:2px solid black;
    border-radius:6px;
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
}

.popup img#image {
    height:10%;
}

.popup input { /*The input inside the popup*/
    color: black;
}

.popup-button{ /*Buttons inside popups, for example the "OK" button*/
    height: 5vh;
    width: 7vw;
    float : right;
    font-size : 1.5vw;
    position: relative;
}
#close-popup { /*Specifically the cancel button of a popup*/
    float: left;
}

.dismiss-popup { /* close popup button*/
    color : white;
    background: red;
    width: 3vw;
}

.all-transparent { /*makes screen transparent*/
    opacity: .6;
}

#dictionary-popup {
    max-height:50%;
    overflow:hidden;
}

#return {
    color : white;
    background-color: red;
    border-color: red;
    height: 10vh;
    width: 10vw;
    background-image: url("../images/back-arrow.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
#dismiss {
    color : white;
    background-color: red;
    border-color: red;
    height: 5vh;
    width: 4vw;
    background-image: url("../images/back-arrow.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    position:absolute;
    bottom: 19vh;
    right: 3vw;
    z-index:2;
}

#fullscreen {
    position: relative;
    max-width:100%;
    width:100%;
    height:100%; /*trying to find best way to size fullscreen video*/
}

div.fullframe, iframe {
    height:100%;
    width:100%;
    margin:auto;
    overflow-y: auto;
    /*overflow-x: hidden;*/
}

video {
    height: 100%;
    max-height:100%;
    max-width:100%;
}

video::-webkit-media-controls {display: none !important;}

button.img {
	height: 150px;
	/*vertical-align:middle;*/
	text-align:center;
}

button.img img, button.img object {
	height:90%;
	float:left;
	max-width:35%;
}
button.img object img {
    float:left;
    max-height: 100%;
    max-width:100%;
}
th button.img {
	height:75px;
    width:90%;
}

th button.img:hover {
	transform:none;
}
th button.img img {
	height:100%;
    float:left;
	/*width:15%;*/
	max-width:35%;
}

.ch-table tr th:nth-child(3), .ch-table tr th:nth-child(4), .ch-table tr td:nth-child(3), .ch-table tr td:nth-child(4) {width:15%;}

button.img.subject {
	font-size: 1.5em;
}

button.img.subject img {
     width:45%;
     height:50%;
     margin:5px 2px;
     float:left;
 }

button.img.play, button.img.activity{
	font-size: 30px;
	font-weight:bold;
    max-width:30vw;
}

button.img p {
	vertical-align:middle}

button.pdf, button.media{
	width:10%;
	height:25%;
	margin: 2px;
	font-size:1.5em;
	background-size: 100% 100%;
}

button.play-pause {
        background-image: url("../images/video.png");
}

button.heading  {
	transform:none;
	font-size: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaee), color-stop(100%,#bbbbff))}

button.heading:hover {
	border:none;
}

button.lesson {

}

button.activities, button.lesson {

}

button.footer {
	height: 50%;
	width:  8%;
	/* margin: 3px; */
	font-size: 75%;
	background-color: #999999;
}

div.center {
	position:relative;
	margin:auto;
	text-align:center;
}

.error {
    color:pink;
    font-weight:bold;
}

.display-name {
    display:block;
    font-size:2em;
    color:red;
    background-color:yellow;
}

.caps {
    text-transform: capitalize;
}

.watermark {
    
    display:none;  /* turn on with individual page CSS files (e.g. in CEHRD theme CSS file)*/
    
    transform: rotate(-30deg);
    z-index: 9999;
    opacity:0.3;
    position: fixed;
    top:35%;
    left:3%;
    font-size:8em;
    color:black;
    background-color:transparent;
    pointer-events:none;
}

#marquee {
    width: 65vw;
    position: fixed;
    top:0.5vh;
    margin:auto;
    direction: "left";
    height: 100px;
}