#main-container-horizontal {}

#user-tools {
    height:28vh;
    overflow:hidden;
    position:relative;
    font-size: 1.2em;
}

#user-tools p {
    max-height:7vh;
}

#tools {
    height:50vh;
    padding: 3vw;
    font-size: 1.2em;
}

button {display:inline;}

button.img.activity {max-width:50vw;}
button.img.activity img {
    max-width:50%;
    max-height:60%;
    padding:0 5px 20px 0;}

 #tools button {
     height:5vh;
     width:20vw;
 }

 #exit-kiosk {
     height:7vh !important;
     width:7vh  !important;
     background-image: url("../images/times.png");
     /*display:inline-block; disabled for now. code doesnt work*/
     display:none;
     bottom: 15vh;
     right:10vw;
     background-size: 90% 90%;
     background-color: rgba(200,200,200,1.0);
 }
 
#shutdown {
    height:7vh !important;
    width:7vh  !important;
    background-image: url("../images/on-off.png");
    /*display:inline-block; disabled for now. code doesnt work*/
    display: none;
    bottom: 15vh;
    right:5vw;
    background-size: 90% 90%;
    background-color: rgba(200,200,200,1.0);
}

div#themelist {
    margin-left:10%;
   /* display:inline-block;*/
    text-align:left;
    float:left;
}

div#voicelist {
    margin-left:10%;
    /*display:inline-block;*/
    float:left;
    text-align:left;
}

span.themespan img {
	display:none;
}

span.theme:hover img {
	display:inline;
	position:absolute;
	left:20%;
}

span#themes {font-size: 1em}

#themelist select {
    border-radius:5px;
    height:5vh;
    width:15vw;
}

#voicelist select {
    border-radius:5px;
    height:5vh;
    width:15vw;
}

select.theme, select.voice {
    vertical-align:middle;
}

.login {
    height:10%;
    width:20%;
    font-size:1em;
}

#login-status {
    font-style:bold;
    color:red;
}

.settings-control, .admin-control, .exec-control {
 
    font-size:1em;
    margin:5px 2px;
    display:none;
}

.exec-control  select, button.exec-control  {color:red;}
.admin-control select, button.admin-control {color:blue;}

a, a:focus, a:hover {text-decoration: none;
    }

a button.logo {height:20vh;font-size:1.5em;}

button.logo img {
    height:11vh;
    margin:auto;
    padding-top:3%;
}