#filecommands {
    position: absolute;
    right:5vw;
    height: 6vh;
}

#filecommands .dropdown-menu {
    padding: 10px;
    width: 100%;
}

#filecommands .dropdown-item {
    font-size: 1.2em;
    margin-top: 2px;
    width:100%;
}

#filecommands #cmd-btn {
    visibility: visible;
    font-size: 1.25em;
    background-color: #fff;
    color: #000;
    width: 100%;
}

#filecommands #show_text {
    display: none;
    font-weight:bold;
}

#filecommands .template-cmd {
    display:none;
}
/********** filesearch-panel CSS ******/

#filesearch-panel {
    position:fixed;
    top:8vh;
    left:38vw;
    height:25vh;
    width:33vw;

    margin-right:3vw;
    display:none;
    text-align:center;
    
    padding: 2vh;
    overflow-y:hidden;
    font-size: 1em;
    font-family:inherit !important;
    border:1px solid black;
    background-color:white;
    border-radius:3px;
}

#filesearch-results {
    position:fixed;
    top: 8vh;
    left:5vw;
    width:30vw;
    max-height:85vh;
    
    overflow-x:hidden;
    overflow-y:auto;
    text-align:center;
    
    margin-right:3vw;
    display:none;
    padding: 2vh;
    font-size: 1em;
    font-family:inherit !important;
    border:1px solid black;
    background-color:white;
    border-radius:3px;
    padding-left:2vw;
    
    font-family:inherit;
    font-weight:bold;
}

#collectionname {
    font-weight:bold;
    font-size:1.5em;
}

form#filesearch *{
    text-align: center;
    vertical-align:middle;
}

form#filesearch span {font-weight:bold;}

#filesearch-bar{
    text-align: center;
}

input#filesearch-term {
    text-align: left;
    vertical-align: middle;
    padding-left: 2px;
    border: 1px solid black;
    border-radius:4px;
    font-size: 1.4em;
    width:50%;
}

#filesearch-results table {margin:auto;}

#filesearch-results .result {
    font-size: 1.2em;
    margin-top: 2px;
    width: 100%;
    height: 100%;
    text-align:center;
    font:inherit;
    color:black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
    
}

#filesearch-results .result:hover {
    border:2px solid blue;
    color:blue;
}

#filesearch-results .result-data {display:none;}

/***************************************/
/******** checkbox filter specs ********/
/***************************************/
.flt-chkbx {
    zoom:2;
}

span.typ-chk {
    margin-right: 8px;
}

/***************************************/
/********* cancel button specs *********/
/***************************************/
button.cancel-filesearch{
    margin: 10px 30% 10px 30%;
    padding: 0 3vw;
    width: auto;
    font-size: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
}

button.clear-filesearch {
    margin: 0 10px;
    width: auto;
    font-size: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
}

button#filesearch-submit{
    width: 7vh;
    height: 7vh;
    vertical-align: middle;
    background-image: url("../images/looma-search2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0);
    border-radius: 4px;
}
