h2 {
    text-align:center;
    font-size: 25px;
    background-color: aquamarine;
    color:black;
    padding: 8px;
}
p {
    font-size: 1em;
    text-align:center;
}
form {
    text-align: center;
    height: 8%;
    vertical-align:middle;
    font-size : 2em;
    background-color:deepskyblue;
    color:black;
    padding-top: 8px;
}

input#word {
	border: none;
	border-radius: 6px;
	margin: auto 0;
}

button#submit {
	margin:auto 0;
	font-size: 1em;
}

#theword{
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
}

#nepali{
    text-align: center;
    font-size: 1.5em;
    font-weight:bolder;
}
#definition{
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
}
#rootWord{
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
}

#rwNepali{
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
}
#rwDefinition{
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
}


