.keyboardContainer {
    position: fixed;
    top: 0;
    left: 0;
margin: 0 auto;
    height: 100vh;
    background-color: inherit;
    z-index: 2147483648;
    display: none;
}

#looma-keyboard {
    padding: 2px;
    margin: 0 auto;
}
.keyboard {
    /*margin: 0 auto;*/
    /*width: 100%;*/
    display: inline-block;
}

.keyboard-button {
    float: left;
    font-family: monospace;
    margin: 4px;
    /*padding: 15px;*/
    height: 2em;
    width: 32%;
    font-size: 4em;
    /*width: 7.6%;*/
}

.key-normal .key-shifted {
    width: 6%;
}

.keyboard-space {
    visibility: hidden;
}

.key-normal, .key-nepali {
    display: block;
    width: 220px;
    border-radius: 5px;
}

.key-shifted {
    display: none;
    width: 60px;
}

.key-nepali {
    display: none;
}

.key-nepali-shifted {
    display: none;
    width: 60px;
}

.shifted .key-normal {
    display: none;
}

.shifted .key-shifted {
    display: block;
}

.nepali .key-normal, .nepali .key-shifted, .nepali.shifted .key-shifted {
    display: none;
}

.nepali .key-nepali {
    display: block;
}

.nepali.shifted .key-nepali {
    display: none;
}

.nepali.shifted .key-nepali-shifted {
    display: block;
}

#keyboard-language {
    width: 16vw;
    margin: 4vh 5vw;
    background-color: white;
    background-image: url("../images/native-flag.png");
    background-size: 75% 90%;
    background-position:center;
    background-repeat: no-repeat;
    
}

#keyboard-language.nepali {
    background-image: url("../images/english-flag.png");
}

#keyboard-backspace {
    display:inline-block;
    background-size: 50% 50%;
    background-image: url(../images/backspace.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
#keyboard-hide {
    background-size: 75% 90%;
    background-image: url(../images/back-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width:16vw;
    margin: 4vh 5vw;
    float: "none";
}
#englishButtonText {
    display: none;
}

.nepali #englishButtonText {
    display: inline;
}

.nepali #nepaliButtonText {
    display: none;
}

.shifted #keyboard-shift {
    color: green;
}

br {
    clear: both;
}

#inputEntry, #textareaEntry {
    font-size: 4em;
    width:40vw;
    margin: 25px;
    color: black;
    border-radius: 5px;
}

.show-keyboard-button {
    position: absolute;
    bottom: 5%;
    left: 15%;
    height: 10%;
    width: 7.5%;
    z-index: 1000;
    opacity: 0.4;
    background-image: url("../images/keypad.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% 110%;
    background-color: rgba(200,200,200,0.7);
}
