/*
LOOMA css file
Filename: looma-play-text.css
Description:
Associated code files:looma-play-text.php
Programmer name:skip
Email:
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:Oct 16
Revision: Looma 2.4

Comments:
*/
#fullscreen {
    height: 100%;
    width: 100%;
    
    background-color: #091F48;
    color: yellow;
    overflow: hidden;
}
#editor:fullscreen {transform: scale(3.0, 1.5);}

#editor {
    height:100%;
    width:82%;
    margin:0 auto;
    font-size:2.5vw;
}


/*.text-display:fullscreen {
    transform: scale(5,5);
}*/

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
    right:9vw;
}

button.lookup {
    display:inline-block;
    right:9vw;
}
button.download {
    display:inline-block;
    right:9vw;
    bottom:44vh;
}
