#main-container-horizontal {
    display: grid;
    grid-template-rows: [begin] 10vh 5vh 33vh 5vh 33vh;
    grid-template-columns: [left] 1fr 1fr 1fr 1fr  [right];
    grid-gap:0.5vw;
}

#header-row {grid-row:1;}
#name-row1 {
    grid-row:2;
}
#name-row2 {
    grid-row:4;
}
#clock-row1 {
    grid-row:3;
}
#clock-row2 {
    grid-row:5;
}
