/*
LOOMA css file
Filename: looma-play-slideshow.css
Programmer name: SCU [rev 1], Skip [rev 2], Kiefer [rev 3]
Owner: VillageTech Solutions (villagetechsolutions.org)
Date: Rev 1 - Spring 2016, Rev 2 - 2017 01 29, aug 2018
Revision: 4.0

Comments:
*/
html {
    box-sizing: border-box;
}

body {
    display:grid;
    grid-template-rows:   [top]  repeat(9, 1fr)  [timeline] 1fr            [bottom];
    grid-template-columns:[left] repeat(17, 1fr) [middle]   repeat(4, 1fr) [right];
}

#main-container-horizontal {
    grid-row: top / timeline;
    grid-column: left / right;
    margin:0;
    background-color:lightgray;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:black;
}

#timeline-container {
    grid-row: timeline / bottom;
    grid-column: left / middle;
    
    overflow-x: scroll;
    overflow-y: hidden;
    border: 2px solid black;
    border-radius: 10px;
}

#fullscreen {
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
}

#fullscreen:fullscreen {
    height:100vh;
    margin:auto;
}

#viewer {
    position:relative;
    height:100%;
    width:100%;
}

.caption {
    position:absolute;
    display: block;
    height: 7%;
    overflow: hidden;
    word-wrap: normal;
    font-size: x-large;
    width:95%;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    bottom: 0vh;
}

.media-container {
    height:100%;
}

.media-container img{
    display: block;
    height:100%;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#timeline-container::-webkit-scrollbar {
    display: none;
}

.popup {
    /* z-index:2147483647; to show on top of fullscreen */
}

button.looma-control-button { display: inline-block;}

button#fullscreen-control {
    display:block;
    bottom:23vh;
}

button.speak {
   	display:block;
    background-image: url("../images/speech1.png");
   	background-size: 100% 100%;
   	width: 10vh;
	height: 10vh;
    bottom: 34vh;
    opacity: 0.4;
}

button.lookup {
    display:block;
	background-image: url("../images/dictionary.png");
	background-size: 100% 100%;
	width: 10vh;
	height: 10vh;
    bottom: 45vh;
    opacity: 0.4;
}

#back, #forward, #return {
	opacity: 0.8;
	width: 10vh;
	height: 10vh;
}

#return {
	height: 8vh;
}

button#next-item {
    bottom:56vh;
    /* z-index:2147483647; this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/carrot-fwd.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button#next-item:fullscreen,
button#next-item:-webkit-full-screen {
    display:inline-block;
}

button#forward-fullscreen {
    bottom: 23vh;
}

#forward-back-div {
	bottom: 51vh;
    left: 93.2vw;
    width: 12vh;
    position: relative;
    opacity: 0.4;
}

button#prev-item {
    bottom:67vh;
    /* z-index:2147483647; this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/carrot-back.png");
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.7); /* transparent light gray*/
}

button#prev-item:fullscreen,
button#prev-item:-webkit-full-screen {
    display:inline-block;
}

#timeline {
    display: inline-flex;
    bottom:0;
    left:0;
    height:100%;
    width:100000px;

    padding:1px;
    background-color:yellow;
    color:black;
    vertical-align:middle;
    
    overflow-x: scroll;
    overflow-y: hidden;
}

#timeline::-webkit-scrollbar {
    display: none;
}

#controlpanel {
    
    grid-row: timeline / bottom;
    grid-column: middle / right;
    padding: 5px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    vertical-align: middle;

 
}

#title {
    position:absolute;
    right:0;
    bottom:11vh;
    text-align:right;
    /*margin-right:3vw;*/
    background-color: black;
    color:yellow;
    padding: 5px;
}

#subtitle {
    background-color:white;
    color:black;
    width:100%;
    border:2px solid black;
    border-radius:5px;}

button.activity {display:none;}


button.slideshow-element {
    position: relative;
    margin:auto 2px;
    padding:0;
    /* z-index:5; */
    max-height:80%;
    min-width:5vw;
    float:left;
    vertical-align:top;
}

button.slideshow-element.playing {
    border:4px solid blue;}

.pop {
    position:absolute;
    top: -3vh;;
    left: 40vw;
    color: black;
    background-color:white;
    font-size: 1em;
    min-height:25px;
    min-width:75px;
    border: 2px solid black;
    border-radius: 2px;
    /*z-index: 4000;*/
}

button.slideshow-element span {display:none;}

button.slideshow-element img{
    vertical-align:top;
    min-height:6vh;
    max-height:8vh;
    width:5vw;
}

span .filename {
    text-align:center;
    float:none;
}

span#slideshow-name {
    color:black;
}
#button-box {
    position:relative;
    display: inline-flex;
    float:right;
    height: 90%;
    width:100%;
    margin:auto;
    vertical-align:middle;
}


.control-button {
    position: relative;
    background: white;
    background-position: left top;
    background-size: 100% 100%;
    margin: 0 0.5vw 0 0.5vw;
    width:60%;
    height:100%;
    margin: 1vh;
}

.control-button img {
    margin: 0;
    padding: 0;
    height: 70%;
    width: 70%;
    /*vertical-align:middle;*/
}

#dismiss {
    color : white;
    background-color: red;
    border-color: red;
    /*width: 3vw;*/
}

#back, #back-fullscreen       { background-image: url("../images/carrot-back.png"); }
#pause                        { background-image: url("../images/play-button.png"); }
#forward, #forward-fullscreen { background-image: url("../images/carrot-fwd.png"); }
#dismiss                      { background-image: url("../images/back-arrow.png"); }

#fullscreen .text-display {
    height:100%;
    /*zoom: 250%;*/
    margin:0 auto;
    overflow: hidden;
    font-weight: bold;
    background-color: white;
    color: black;
    /*font-size: 20px;*/
}
#fullscreen-playpause {
    display:inline;
    background-image: url("../images/video.png");
    background-color:rgba(200,200,200,0.7);  /*transparent light gray*/
    background-size:contain;
    position: fixed;
    right:5vw;
    top:12vh;
    opacity: 0.4;
    z-index: 1000;
    height: 10vh;
    width:  10vh;
    background-repeat: no-repeat;
    background-position: center;
}
#media-controls {display:none;}