/*
LOOMA css file
Filename: xxx.css
Description:
Associated code files:
Programmer name:
Email:
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:
Revision: Looma 2.0.x

Comments:
*/

body {
    color:black;
    background-color:#eee;
}

h1 {background-color:#F0EC1A}

.admin {display:none;}

.btn-toolbar {
    text-align:center;
    display:inline-block;
    color:black;
}

.container {
    margin: 0 auto;
    width: 95vw;
}

button.result {
    color:white;
    background:#2E3192;
}

#title {
    position: absolute;
    top: 1vh;
    left:5vw;
    width:25vw;
    height: 7vh;
    padding-left: 2vw;
    text-align: left;
    float:left;
    border:1px solid black;
    color:black;
    font-size: 0.8em;
    background-color:white;
    border-radius:2px;
}

#text-editor-container {
    font-size: 1.57vw;
}

#editor {
    height: 70vh;
    width: 78vw;
    /*zoom: 200%; */
    margin:0 auto;
    overflow:hidden;
    font-size:1.3em;
    color:#091F48;
    font-weight:bold;
    white-space:nowrap;
    /*color:yellow;
    background-color: #091F48;
    margin-top: 1vh; */
    padding: 0 1vw;
    border: 1px solid black;
    vertical-align: center;
}

#editor div {
    white-space: nowrap;
    /*line-height:1.4em;*/
}

#commands {
    top: 1vh;
}

#editor b {
    font-weight: bold;
}
#dismiss {
    bottom: 8vh;
}

#preview {
    position:fixed;
    display:none;
    padding:2px;
    bottom:17vh;
    left:18vw;
    height:18vh;
    width:21vw;
    z-index:10;
    font-size:0.5em;
    border: 2px solid black;
    border-radius:3px;
   /* background-color:#091F48;*/
    zoom:200%;
    overflow:hidden;
}

button.speak, button.lookup, button#fullscreen-control {
    display:none;
}

#preview {
    display: none;
}
#filesearch-result button:hover #preview{
    display: block;
}
