.hidden {
    display: none;
}

button#fullscreen-control {
    display:inline-block;
}

#fullscreen {
    height: 75vh;
    width: 75vw;
    margin:auto;
}
#fullscreen:fullscreen {
    height: 100vh;
    width: 100vw;
}

 :-webkit-full-screen {
    background-color: #091F48;
}
button#fullscreen-control {
    position:fixed;
    bottom:15vh;
}

#fullscreen-buttons:fullscreen {
    position:absolute;
    right:0;
}

button#fullscreen-playpause {
    display:none;
    bottom:26vh;
    height:10vh;
    width:10vh;
	z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/video.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-color:rgba(200,200,200,1);  /*transparent light gray*/
}


button#fullscreen-playpause:fullscreen,
button#fullscreen-playpause:-webkit-full-screen {
    display:block;
}

