p {
    font-size:1em;
    color:white;
}

#message-box {
   
    width: 70vw;
    height:25vh;
    max-height:25vh;
    border-radius: 5px;
    display:none;
    margin:auto;
    font-size:1em;
    color:red;
    background-color: white;
}

#warning, #waiting, #ellipsis { color:red }

fieldset {
    margin:auto;
    width:33vw;
    border-radius: 5px;
    font-size:1.5em;
}

#button-div {}

button {
    margin: 2vh 1vw;
    width:30vw;
    height:8vh;
    font-size:2em;
}

.buttons:disabled { color:grey;}
