/* Main clock page */
#main-container-horizontal {
    background-color: var(--looma-blue;);
    display:grid;
    grid-template-rows: [top] repeat(4,1fr) [bottom];
    grid-template-columns: [left] 1fr 3fr 1fr [right];
    grid-gap: 1vh;}

canvas {
    z-index:2147483647;
}

#padlock {
    display:none;
}


button.speak{
    display:inline-block;
    bottom:36vh;
    right:7vw;
}


button#fullscreen-control {
    display:inline-block;
    bottom:14vh;
    right:7vw;
}

#toCurrentTime {display:none;}

h1 {
	text-align: center;
    float:left;
    width:30vw;
}

h2 {
	font-size: 10px;
	position: absolute;
    top: 85%;
	left: 70%;
}

#fullscreen {
    grid-column:2;
    grid-row:1 / 4;
}

#title {
    grid-column:1;
    grid-row:1;
    width:90%;
    max-width:100%;
    vertical-align:bottom;
}

/* user input buttons */

.clock-button {
    font-size: 2.6em;
    margin:2vh 2vw;
}
#digitalClockButton {
    margin:2vh 0 0 0;
    grid-column:3;
    grid-row:1;
}

#singleClockButton {
    grid-column:1;
    grid-row:2;
}
#analogClockButton {
    grid-column:3;
    grid-row:1;
    display:none;
}
#doubleClockButton {
    grid-column:1;
    grid-row:3;
}

#acrossWorldClocks{
    grid-column:1;
    grid-row:4;
}

#oneClock {
    grid-column:3;
    grid-row:4;
}

#toCurrent {
    grid-column:3;
    grid-row:2;
}

#twentyFourHour {
    grid-column:3;
    grid-row:2;
}

#a {}

#newproblem {
    position:absolute;
    top:10vh;
    right:5vw;
    height:15vh;
    width:20vw;
    font-size:2em;
}

#b2 {}

#c {}

#d {}

#clock-only {
    bottom:25vh;
    display:inline-block;
    background-position: center;
    background-size: 100% 100%;
    background-color:none;
    
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.3);  /*transparent light gray*/
}

#clockImage{
    position: absolute;
    left: 10%;
    top: 12%;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 60px;
    opacity: 0.4;
    background-color:rgba(200,200,200,0.3);
}

#mainClock{
    height:70vh;
    width:70vh;
}

#mainClock:fullscreen{
    height:90vh;
    width:90vh;
}

#digitalDisplay{
    display:inline-block;
    color: yellow;
    font-size: 6em;
    grid-column:2;
    grid-row:4;
}

#amOrPm1, #digitalTime{
    font-family: digitalFont;
    color: yellow;
}
#dragHands{
    font-size: 0.25em;
    
}
#toCurrentTime{
    font-size:1.75em;
}

#clockBox{
    border: 5px solid silver;
    border-radius: 6px;
    margin-top:3vh;
    grid-column:2;
    grid-row:1 / 4;

    display: none;
}

#time {
    font-family: digitalFont;
    color: lime;
    font-size: 16em;
    position: absolute;
    top: 15%;
    left: 30%;
    display: none;
}
#amOrPm {
    font-family: digitalFont;
    color: lime;
    font-size: 6em;
    position: absolute;
    top: 21%;
    left: 62%;
    display: none;
}
#seconds {
    font-family: digitalFont;
    color: lime;
    font-size: 10em;
    position: absolute;
    top: 30%;
    left: 60%;
    display: none;
}
#day {
    font-family: digitalFont;
    color: lime;
    font-size: 6em;
    position: absolute;
    top: 57%;
    left: 23%;
    display: none;
}
#date {
    font-family: digitalFont;
    color: lime;
    font-size: 6em;
    position: absolute;
    top: 57%;
    left: 50%;
    display: none;
}

#twentyFourHour{
    position: absolute;
    top: 27vh;

    font-size: 1.2em;
    display: none;
}

@font-face {
    font-family: digitalFont;
    src: url(../fonts/digital-7.ttf);
}

/* Double Clock and Single Clock Game */
#doubleClock{
    position: absolute;
    top: 45%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
}

#question{
    position: absolute;
    margin: auto;
    left: 1%;
    top: 77%;
    font-size: 2.5em;
}

#getInput{
    position: absolute;
    top: 77%;
    left: 23%;
    font-size: 2.5em;
    width: 100%;
}

#submit{
    color: black;
    height:7vh;
}

#txtOutput{
    color: black;
    background-color:white;
    width: 100%;
    border-radius:5px;
    position: absolute;
    height:7vh;
    width:90vw;
    margin:auto;
    top: 90%;
    left: 5vw;
    font-size: 2em;
}

#userHour{
    -webkit-appearance: menulist-button;
    color: black;
    height: 7vh;
}
#userMin{
    -webkit-appearance: menulist-button;
    color: black;
    height: 7vh;
}

/* World Clocks */
#nepal{
    top: 15%;
    left: 16%;
    position: absolute;
}

#tokyo{
    top: 15%;
    left: 33%;
    position: absolute;
}

#newYork{
    top: 15%;
    left: 50%;
    position: absolute;

}

#paris{
    top: 15%;
    left: 67%;
    position: absolute;

}

#london{
    top: 58%;
    left: 16%;
    position: absolute;
}

#sanFrancisco{
    top: 58%;
    left: 33%;
    position: absolute;
}

#moscow{
    top: 58%;
    left: 50%;
    position: absolute;
}

#cairo{
    top: 58%;
    left: 67%;
    position: absolute;
}
