
#main-container-horizontal {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 25px  25px;
    width: 100vw;
    overflow:hidden;
    align-items:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#main-container-horizontal #head {
    grid-row: 1 / 2;
    text-align:center;
    margin: 0 auto;
}

#main-container-horizontal #classes {
    grid-row: 2 / 4;
    
    position:relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
    padding: 2vh 2vh;
    overflow: hidden;
}

#main-container-horizontal #subjects {
    grid-row: 4 / 6;
    
    position:relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
    padding: 2vh 2vh;
    overflow: hidden;
}

img.looma-logo{
    width:50vw;
}

button {
    
    padding: 1px;
    border-radius: 5%;
    
    vertical-align:middle;
    text-align:center;
    border: 2px solid white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* webkit */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);
    
    font-family: "Comic Sans MS", cursive, sans-serif;
}

button:hover  {
    transform: scale(1.1,1.1);
}

#classes button {
    
    margin: 3px;
    padding: 0 3px;
    color: black;
    min-width:9vw;
    
    line-height: 1.0;
    font-size: 8em;
    font-weight: bold;
    
    /* trying to get the class and subject buttons to shrink in the flex row. but not working
        min-width: 0;
        min-height: 0;
        overflow: hidden;
    */
}
#classes span.little {font-size:0.6em;}

#classes button.active {
    color:yellow;
}
.classnumber {font-size:4em;}

.classes .native-keyword {font-size:1.4em;}

#subjects {position:relative;}

#subjects button {
    
    margin: 3px;
    height: 32vh;
    width:18vw;
    color: black;
    font-size: 3.5vh;
    font-weight: bold;
    
    /* trying to get the class and subject buttons to shrink in the flex row. but not working
        min-width: 0;
        min-height: 0;
        overflow: hidden;
    */
}

button.class:hover,  button.subject:hover {
    transform: scale(1.05,1.05);
}

#subjects button.active {
    color:yellow;
}
#subjects button img {
    width: 44%;
    margin:4px;
}


