/**********************
Author: Luke Bowsher, Catie Cassani, Sun-Mi Oh, Meg Reinstra, Alexa Thomases
Filename: looma-game.css
Date: June 2018
Description: formatting and styling for the game page
***********************/

/************MAIN FRAME*************/
.container 
{
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 40% 40% 10%;
  height: 100vh;
  width: 100vw;
  background-color: #091f48;
}

.header
{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #091f48;
  border: 1px solid yellow;
}

.toolbar
{
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.thegameframe
{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #091f48;
  border: 1px solid yellow;
  overflow-y: auto;
}

.timer 
{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #091f48;
  border: 1px solid yellow;
}

.scoreboard
{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #091f48;
  border: 1px solid yellow;
}

.bigscore
{
  max-height: 15%;
  max-width: 8%;
}

#promptdiv
{
  float: left;
  margin-left: 5vw;
  margin-top: 4vh;
  max-width: 30vw;
}

#responsediv
{
  float: right;
  margin-top: 4vh;
  margin-right: 5vw;
  max-width: 30vw;
}

.prompt{
  display: block;
  min-height: 9vh;
  margin: 10px;
  font-size: auto;
  max-width: 40vw
}

.response{
  display: block;
  min-height: 9vh;
  margin: 10px;
  font-size: auto;
  max-width: 40vw;
}

#end
{
  max-height: 15%;
  position: absolute;
  top: 20%;
  left: 34%;
}

#marker
{
  max-height: 10%;
  position: absolute;
  left: 36.5%;
  top: 55%;
}

#start
{
  max-height: 15%;
  position: absolute;
  left: 34%;
  top: 55%;
}

#timer
{
  font-size: 15vmin;
}

#scoreboard
{
  font-size: 15vmin;
}

#progress 
{
    width: 100%;
    background-color: grey;
}

#progress-bar 
{
    width: 0.00001%;
    height: 10vh;
    background-color: DeepSkyBlue;
    position: relative;
}

#score-message
{
    top: -9%;
    position: relative;
}

.scoreboard-scores
{
  font-size: 6.5vmin;
  position: relative;
  top: -16%;
}

#high2
{
  position: absolute;
  left: 34%;
  top: 20%;
}

#vert-marker2
{
  max-height: 10%;
  position: absolute;
  left: 36.5%;
  top: 55%;
}
#low2
{
  position: absolute;
  left: 34%;
  top: 55%;
}

#high3
{
  position: absolute;
  left: 45%;
  top: 20%;
}
#vert-marker3
{
  max-height: 10%;
  position: absolute;
  left: 47.5%;
  top: 55%;
}
#low3
{
  position: absolute;
  left: 45%;
  top: 55%;
}

#high1
{
  position: absolute;
  left: 22%;
  top: 20%;
}
#vert-marker1
{
  max-height: 10%;
  position: absolute;
  left: 24.5%;
  top: 55%;
}
#low1
{
  position: absolute;
  left: 22%;
  top: 55%;
}

#high4
{
  position: absolute;
  left: 56%;
  top: 20%;
}
#vert-marker4
{
  max-height: 10%;
  position: absolute;
  left: 58.5%;
  top: 55%;
}
#low4
{
  position: absolute;
  left: 56%;
  top: 55%;
}

#wide-left2
{
  position: absolute;
  left: 5%;
  top: 35%;
}
#hori-marker2
{
  position: absolute;
  top: 35%;
  left: 5%;
}
#wide-right2
{
  position: absolute;
  top: 35%;
  left: 55%;
}

#wide-left3
{
  position: absolute;
  left: 5%;
  top: 47%;
}
#hori-marker3
{
  position: absolute;
  top: 47%;
  left: 5%;
}
#wide-right3
{
  position: absolute;
  top: 47%;
  left: 55%;
}

#wide-left4
{
  position: absolute;
  left: 5%;
  top: 58%;
}
#hori-marker4
{
  position: absolute;
  top: 58%;
  left: 5%;
}
#wide-right4
{
  position: absolute;
  top: 58%;
  left: 55%;
}

#wide-left1
{
  position: absolute;
  left: 5%;
  top: 24%;
}
#hori-marker1
{
  position: absolute;
  top: 24%;
  left: 5%;
}
#wide-right1
{
  position: absolute;
  top: 24%;
  left: 55%;
}

#sender
{
  position:relative;
  margin-top: 36%;
}

.bighoriscore
{
  max-height: 12%;
  max-width: 15%;
}
.bigvertiscore
{
  max-height: 15%;
  max-width: 15%;
}
.button 
{
    border: none;
    color: black;
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;
    /* This font size was chosen to accomodate large 
    definitions, but if they are too long, they will 
    still not fit and this may need to be adjusted */
    font-size: 2.2vmin;
    display: inline-block;
    margin: .5vw 1vw;
    width: 25vw;
    height: 6vw;
}
.button:hover 
{
    border: 8px solid yellow;
}
/***************** TIMELINE GAME ******************/
 
 /*empty (and hidden) button in the timeline that's just used to position/style the dates and events*/
.empty
{
  color: black;
  margin: 4px 2px;
  padding: 21px;
  visibility: hidden;
}

/*creates the yellow timeline line*/
.timeline ol::before
{
  content: '';
  position: absolute;
  height: 5px;
  width: 110%;
  background-color: yellow;
  top: 50%;
  bottom: 0;
  left: 0;
  right:0;
  z-index: -10;
}

/*timeline div class*/
.timeline 
{
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  min-height: 50%;
  text-align: justify;
  white-space: nowrap;
}

/*holds all timeline buttons*/
.timeline ol
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*keeps all events in a horizontal line*/
.timeline ol li
{
  display: inline-block;
}

/*keeps events above and below dates*/
.timeline ol li button
{
  display: block;
}

/*styling for the event buttons in the timeline and the event buttons in the events div*/
/*their dimensions need to be the same for styling!*/
.timelineEvent, .event
{
  width:50vh;
  white-space: normal;
  font-size: 1.5em;
}

/*makes the height of the event buttons in the events div shorter*/
.event
{
  height: inherit;
}

/*styling for the date "buttons" on the timeline*/
.date
{
  font-size: 2em;
  margin-right: 10vw;
  z-index: 10; /*keeps the dates in front of the timeline line*/
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 8vw;
}

/*div that holds the event buttons*/
.events
{
  height: 41.9%;
  overflow-y: auto;
  white-space: normal;
  text-align: center;
  z-index: -100;
}

/*div that displays the instructions and the end message*/
.endMessage
{
  min-height: 8%;
  font-size: 1.5em;
  overflow: hidden;
}

/********************* MAP GAME ***********************/
#map 
{
    width: 70vw;
    height: 53vh;
    margin-left: 1.5vw;

}



