/*
Filename: looma-library.css
Description:
Associated code files: looma-library.php
Programmer name: Bo Leschly
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:
Revision: Looma 2.0.x
*/

.filter-radio, .source-chk, .type-chk, .filter-input, .media-input {zoom:3;}

p {margin-bottom: 0px;}
h3 span.english-keyword, h3 span.native-keyword {display:inline-block;}

button span.english-keyword, button span.native-keyword {
    display:block;
}

button:hover span.tip.yes-show.big-show {
    width:25vw;
    position:relative;
    bottom:1vh;
    left:0;
 }

.black-border {
    border: 2px solid black;
}


/****************************************/
/********** search-panel specs **********/
/****************************************/
div#search-panel {
    margin-left:5%;
    margin-right:5%;
    top:5vh;
    left:37vw;
    padding: 2vw;
    background-color:rgba(27,71,177,.45);
    z-index:10;
    overflow-y:hidden;
    border:2px solid black;
    border-radius:6px;
}
form#search-form *{
    text-align: center;
    margin-bottom: 0;
}


/***************************************/
/******** search-bar div specs *********/
/***************************************/
div#search-bar-div{
    text-align: center;
    margin-top: 14px;
}

/***************************************/
/******* Button to switch btwn search mode and folder mode ******/
/***************************************/
button#toggle-database{
    position: fixed;
    top:4.5%;
    right:5%;
    height:10vh;
    width:6vw;
    z-index:1000;
    background-color:rgba(200,200,200,0);
}

button#toggle-database img{
    height:100%;
    width:100%;
}


input#search-term {
    text-align: left;
    vertical-align: middle;
    font-size: 22pt;
    width:40%;
}
input#search-term::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    position:relative;
    right:2%;
}


/***************************************/
/******** checkbox filter specs ********/
/***************************************/
span.typ-chk, span.src-chk{
    margin-right: 8px;
}

/******* source-filter div specs *******/
div#source-div{
    margin-top: 14px;
}

.typ-chk[data-id='lesson-chk'], .typ-chk[data-id='evi-chk'] {display:none;}

/***************************************/
/***************************************/


/***************************************/
/******** chapter-filter specs *********/
/***************************************/
div.chapter-filter{
    margin-top: 14px;
}
span.drop-menu {
    margin-right: 10px;
}
.black-border {
    border: 2px solid black;
}
.black-outline {
    /*outline: 2px solid black;*/
}



/***************************************/
/********* cancel button specs *********/
/***************************************/
button#cancel-search {
    border: 2px solid white;
    background-color: white;
    width: auto;
    font-size: 1.5em;
    background: #2e3192;
    color: white;

}



button#chapter-submit {
    margin-top: 14px;
    margin-bottom: 14px;
    width: auto;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}
button#chapter-submit:hover {
    color: black;
}



/***************************************/
/****** search-results div specs *******/
/***************************************/
#results-div{
	display: none;
	margin: 2%;
	margin-left:5%;
    margin-right:5%;
    top:5vh;
    left:37vw;
    padding: 2vw;
    background-color:rgba(27,71,177,.45);
    z-index:10;
    overflow-y:hidden;
    border:2px solid black;
    border-radius:6px;
}


/***************************************/
/****** expandable folders specs *******/
/***************************************/
ul {
    list-style-type: none;
}
