body {
	background-color:  #08088a; /*#091F48;*/
			/* medium blue is #1853C1;*/
			/* "looma" dark blue is #091F48;*/
	font-family: "Arial Black", Gadget, sans-serif;
	color: yellow;
}

#toolbar-container, #toolbar-container-vertical {
	background-color:  #ff00ff; /*#BD00A5;*/
    --looma-toolbar:#ff00ff;
}

button {

	background-color: #FFFFFF;
	color:black;
	border: 0;
	border-radius: 0;
	font: bold 3em;
	cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */

    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30);
}

button:hover {
	background-color: #008;
	color:yellow;
}

button.active {
    background:none;
    background-color: #00f;
    color:yellow;
}
	/* COLORS:
	 * 	lime	59b606
	 * blue		027bbf
	 * pink		8ff
	 * lt blue	f8f
	 */
