/*
LOOMA css file
Filename: xxx.css
Associated code files:
Programmer name: Skip
Owner: VillageTech Solutions (villagetechsolutions.org)
Date: Apr 2017
Revision: Looma 2.0.x
*/

#main-container-horizontal {
    background-color: #f79156
}

#playground {
    display: inline-flex;
    max-width:100%;
    padding:1px;
    margin:20vh auto;
    background-color:pink;
    color:black;
    overflow-y: hidden;

}

::-webkit-scrollbar {
    display: none;
}

.test {
   background-color:yellow;
   margin:15px;
   min-width:300px;
   font-size:5em;
}
.scroller {
   position:absolute;
   bottom:20%;
   height:15%;
   width:15%;
   display:inline-block;
   float:left;
   font-size:0.75em;}

#scroll-right {left:20%;}
#scroll-left  {left:50%;}
