/*original by Shannon & Kate. modified/simplfied by Skip*/

#footer {
	/*position: absolute;*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row;
	text-justify: distribute-all-lines;
	/*bottom: 0;
	left: 0; */
	margin:auto;
	padding: 0 5px 0 5px;
	width: 100%;
	height:100%;
	background-color: #FFFFaa;   /*  #e8f502; /*background-color: #FFFF66; */
	font-size: 20px;
}

#footer *
{
	height:90%;
	margin: 5px;
    display: inline-block;
    /*padding: auto;*/
	/*vertical-align: top;
	display: inline; */
}

#footer a img {
	padding-top:5px;
}

#footer #back-button img {padding-top:5px;}
#footer #forward-button img {padding-top:5px;}

#date-time
{
	flex: flex-basis;
	font-family:Times;
}

#translate
{
	-webkit-align-self: flex-end;
	-moz-align-self: flex-end;
}


/*****************************button - general settings******************************/

.looma-button{
    padding: 0;
    margin: auto;
    cursor: pointer;

    overflow: hidden;

	border-radius:9px;

	text-indent:0;

	border:1px solid;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	width:5%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0;
    border-left: 5px solid;
	border-bottom: 5px solid;
}

.looma-button:hover {

    border-left: 5px solid;
	border-bottom: 5px solid;
}

.looma-button:active {
	position:relative;
	/*top:1px;	*/
	border-left: 2px solid;
	border-bottom: 2px solid;
}


/*****************************buttons******************************/
#back-button {
	-moz-box-shadow:inset 0 1px 0 0 #bbdaf7;
	-webkit-box-shadow:inset 0 1px 0 0 #bbdaf7;
	box-shadow:inset 0 1px 0 0 #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9AE1FF), color-stop(1, #44C7FF) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;

	border-color:#84bbf3;

	border-radius: 25px0 25px0;
	width:8%;

	text-shadow: 1px 1px0 #528ecc;
    border-left-color: #009EE2;
	border-bottom-color: #009EE2;

}
#back-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #44C7FF), color-stop(1, #9AE1FF));
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
    border-left: 5px solid #009EE2;
	border-bottom: 5px solid #009EE2;
}

#back-button:active {
    border-left: 2px solid #009EE2;
	border-bottom: 2px solid #009EE2;
}
/* This button was generated using CSSButtonGenerator.com */

#forward-button {
	-moz-box-shadow:inset0 1px00 #fce2c1;
	-webkit-box-shadow:inset0 1px00 #fce2c1;
	box-shadow:inset0 1px00 #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFCA90), color-stop(1, #FF9B2E) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;

	border-radius: 25px 0 25px 0;
	width:8%;


	text-shadow:1px 1px0 #cc9f52;
    border-left-color: #FF8300;
	border-bottom-color:  #FF8300;
}
#forward-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF9B2E), color-stop(1, #FFCA90) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
    border-left-color:  #FF8300;
	border-bottom-color:  #FF8300;
}


#forward-button:active {
    border-left: 2px solid #FF8300;
	border-bottom: 2px solid #FF8300;
}
/* This button was generated using CSSButtonGenerator.com */


.blue-footer {
	-moz-box-shadow:inset000 -1px #97c4fe;
	-webkit-box-shadow:inset000 -1px #97c4fe;
	box-shadow:inset000 -1px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #86B5FF), color-stop(1, #3470D0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;

	text-shadow:1px 1px0 #1570cd;
    border-left-color:  #1e62d0 ;
	border-bottom-color:  #1e62d0;
}
.blue-footer:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3470D0), color-stop(1, #86B5FF) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
    border-left-color: #1e62d0 ;
	border-bottom-color:  #1e62d0;
}


.blue-footer:active{
    border-left-color:  #1e62d0 ;
	border-bottom-color: #1e62d0;
}
/* This button was generated using CSSButtonGenerator.com */

.pink-footer {
	-moz-box-shadow:inset000 -1px #fbafe3;
	-webkit-box-shadow:inset000 -1px #fbafe3;
	box-shadow:inset000 -1px #fbafe3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EE9DC7), color-stop(1, #ED3694) );
	background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
	background-color:#ff5bb0;
;
	text-shadow:1px 1px0 #D70B75;
    border-left-color:  #D70B75 ;
	border-bottom-color:  #D70B75;
}
.pink-footer:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ED3694), color-stop(1, #EE9DC7) );
	background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
	background-color:#ef027d;
    border-left-color: #D70B75 ;
	border-bottom-color: #D70B75;
}

.pink-footer:active {
	border-left: 2px solid #D70B75 ;
	border-bottom: 2px solid #D70B75;
}

/* This button was generated using CSSButtonGenerator.com */

.green-footer {
	-moz-box-shadow:inset000 -1px #d9fbbe;
	-webkit-box-shadow:inset000 -1px #d9fbbe;
	box-shadow:inset000 -1px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56E547), color-stop(1, #12B300) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;

	text-shadow:1px 1px0 #86ae47;
    border-left-color:  #1AA70A ;
	border-bottom-color:  #1AA70A;
}
.green-footer:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #12B300), color-stop(1, #56E547) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
    border-left-color: #1AA70A ;
	border-bottom-color:  #1AA70A;
}

.green-footer:active {
    border-left-color:  #1AA70A ;
	border-bottom-color:  #1AA70A;
}
/* This button was generated using CSSButtonGenerator.com */

.purple-footer {
	-moz-box-shadow:inset0 1px00 #d197fe;
	-webkit-box-shadow:inset0 1px00 #d197fe;
	box-shadow:inset0 1px00 #d197fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CD84FF), color-stop(1, #BB55FF) );
	background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
	background-color:#a53df6;

	text-shadow:1px 1px0 #7d15cd;
    border-left-color:  #9227D9;
    border-bottom-color: #9227D9;
}
.purple-footer:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BB55FF), color-stop(1, #CD84FF) );
	background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
	background-color:#7c16cb;
    border-left-color:  #9227D9 ;
	border-bottom-color: #9227D9;
}

.purple-footer:active {
    border-left-color:  #9227D9 ;
	border-bottom-color: #9227D9;
}
/* This button was generated using CSSButtonGenerator.com */

.orange-footer {
	-moz-box-shadow:inset0 1px00 #fceaca;
	-webkit-box-shadow:inset0 1px00 #fceaca;
	box-shadow:inset0 1px00 #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF9A52), color-stop(1, #FF7C1E) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;

	text-shadow:1px 1px0 #EC8319;
    border-left-color:  #E6670D ;
	border-bottom-color:  #E6670D;

}
.orange-footer:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF7C1E), color-stop(1, #FF9A52) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
    border-left-color:  #E6670D ;
	border-bottom-color:  #E6670D;

}.orange-footer:active {
    border-left-color:  #E6670D ;
	border-bottom-color: #E6670D;
}

/* This button was generated using CSSButtonGenerator.com */