/* Main clock page */
#main-container-horizontal {
    background-color: var(--looma-background);
    display:grid;
    grid-template-rows: [top] repeat(4,1fr) [bottom];
    grid-template-columns: [left] 1fr 3fr 1fr [right];
    grid-gap: 1vh;}

canvas {
    z-index:2147483647;
}

#padlock {
    display:none;
}


button.speak{
    display:inline-block;
    bottom:36vh;
    right:7vw;
}


button#fullscreen-control {
    display:inline-block;
    bottom:14vh;
    right:7vw;
}

#toCurrentTime {display:none;}

h1 {
	text-align: center;
    float:left;
    width:30vw;
}

h2 {
	font-size: 10px;
	position: absolute;
    top: 85%;
	left: 70%;
}

#fullscreen {
    grid-column:2;
    grid-row:1 / 4;
}

#title {
    grid-column:1;
    grid-row:1;
    width:90%;
    max-width:100%;
    vertical-align:bottom;
}

/* user input buttons */

.clock-button {
    font-size: 2.6em;
    margin:2vh 2vw;
}
#digitalClockButton {
    margin:2vh 0 0 0;
    grid-column:3;
    grid-row:1;
}

#singleClockButton {
    grid-column:1;
    grid-row:2;
}
#analogClockButton {
    grid-column:3;
    grid-row:1;
    display:none;
}
#doubleClockButton {
    grid-column:1;
    grid-row:3;
}

#acrossWorldClocks{
    grid-column:1;
    grid-row:4;
}

#oneClock {
    grid-column:3;
    grid-row:4;
}

#toCurrent {
    grid-column:3;
    grid-row:2;
}

#twentyFourHour {
    grid-column:3;
    grid-row:2;
}

#a {}

#newproblem {
    position:absolute;
    top:10vh;
    right:5vw;
    height:15vh;
    width:20vw;
    font-size:2em;
}

#b2 {}

#c {}

#d {}

#clock-only {
    bottom:23vh;
    display:inline-block;
    background-position: center;
    background-size: 100% 100%;
    background-color:none;
    
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/clock.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0.3);  /*transparent light gray*/
}

#clockImage{
    position: absolute;
    left: 10%;
    top: 12%;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 60px;
    opacity: 0.4;
    background-color:rgba(200,200,200,0.3);
}

#mainClock{
    height:70vh;
    width:70vh;
}

#mainClock:fullscreen{
    height:90vh;
    width:90vh;
}

#digitalDisplay{
    display:inline-block;
    position:relative;
    top:-12vh;
    right:-24vw;
    font-size: 6em;
    grid-column:2;
    grid-row:4;
}

#amOrPm1, #digitalTime{
/*    font-family: digitalFont; */
    font-family: "Digital-7 Mono";
}
#dragHands{
    font-size: 2em;
    position:relative;
    top:10vh;
    height:8vh;
    margin:0;
    
}
#toCurrentTime{
    font-size:1.75em;
}

#clockBox{
   /* border: 5px solid silver;
    border-radius: 6px;
    margin-top:3vh;*/
    grid-column:2;
    grid-row:1 / 4;
    height:100%;
    width:100%;

    display: none;
}

#time {
    font-family: "Digital-7 Mono";
    color: lime;
    font-size: 13em;
    position: absolute;
    top: 21%;
    left: 2%;
}
#amOrPm {
    font-family: "Digital-7 Mono";
    color: lime;
    font-size: 9em;
    position: absolute;
    top: 31%;
    left: 81%;
}
#seconds {
    font-family: "Digital-7 Mono";
    color: lime;
    font-size: 9em;
    position: absolute;
    top: 30%;
    left: 60%;
}
#day {
    font-family: "Digital-7 Mono";
    color: lime;
    font-size: 5em;
    position: absolute;
    top: 57%;
    left: 9%;
}
#date {
    font-family: "Digital-7 Mono";
    color: lime;
    font-size: 5em;
    position: absolute;
    top: 72%;
    left: 9%;
}


#fullscreen:fullscreen #time {
    font-size: 16em;
    top: 15%;
    left: 20%;
}
#fullscreen:fullscreen #amOrPm {
    font-size: 8em;
    top: 22%;
    left: 67%;
}
#fullscreen:fullscreen #seconds {
    font-size: 10em;
    top: 21%;
    left: 52%;
}
#fullscreen:fullscreen #day {
    font-size: 6em;
    top: 57%;
    left: 20%;
}

#fullscreen:fullscreen #date {
    font-size: 6em;
    top: 57%;
    left: 45%;
}

#twentyFourHour{
    position: absolute;
    top: 18vh;
    font-size: 1.2em;
    display: none;
}

@font-face {
    font-family: "Digital-7 Mono";
  /*  src: url(../fonts/digital-7.ttf);*/
}

/* Double Clock and Single Clock Game */
#doubleClock{
    position: absolute;
    top: 45%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
}

#question{
    position: absolute;
    margin: auto;
    left: 1%;
    top: 77%;
    font-size: 2.5em;
}

#getInput{
    position: absolute;
    top: 77%;
    padding: 1vh;
    right: 5vw;
    font-size: 2.5em;
    width: 50vw;
    border: 2px solid black;
    border-radius:5px;
    
}

#submit{
    color: black;
    height:7vh;
    font-size: 0.75em;
}

#txtOutput{
    color: black;
    background-color:white;
    width: 100%;
    border-radius:5px;
    position: absolute;
    height:7vh;
    width:90vw;
    margin:auto;
    top: 90%;
    left: 5vw;
    font-size: 2em;
}

#userHour{
    -webkit-appearance: menulist-button;
    color: black;
    height: 7vh;
    font-size: 0.75em;
    
}
#userMin{
    -webkit-appearance: menulist-button;
    color: black;
    height: 7vh;
    font-size: 0.75em;
    
}

/* World Clocks */
#nepal{
    top: 15%;
    left: 16%;
    position: absolute;
}

#tokyo{
    top: 15%;
    left: 33%;
    position: absolute;
}

#newYork{
    top: 15%;
    left: 50%;
    position: absolute;

}

#paris{
    top: 15%;
    left: 67%;
    position: absolute;

}

#london{
    top: 58%;
    left: 16%;
    position: absolute;
}

#sanFrancisco{
    top: 58%;
    left: 33%;
    position: absolute;
}

#moscow{
    top: 58%;
    left: 50%;
    position: absolute;
}

#cairo{
    top: 58%;
    left: 67%;
    position: absolute;
}

@media screen and (max-device-width:480px) and (orientation:portrait),
screen and (max-device-width:768px) and (orientation:landscape) {    .clock-button {font-size:initial;}
    .clock-button {
        font-size:2vw;
        margin: 0;
        border: 0;
        padding: 0;
    }
    
    #digitalDisplay {
        right:0;
        font-size:5em;
    }
    #dragHands {font-size: 1.5em;}
}