#main-container-horizontal {
}

#settings {
    height:40vh;
    overflow:hidden;
    position:relative;
    font-size: 1.2em;
}

#settings p {
    max-height:7vh;
}

#tools {
    height:50vh;
    padding: 5vw;
    font-size: 1.2em;
}

button {
     display:inline;
 }

 #tools button {
     height:5vh;
     width:20vw;
 }
 
div#themelist {
    margin-left:10%;
    display:inline-block;
    text-align:left;
    float:left;
}

#themelist select {
    display:inline;
}

div#voicelist {
    margin-left:10%;
    display:inline-block;
    float:left;
    text-align:left;
}

span.themespan img {
	display:none;
}

span.theme:hover img {
	display:inline;
	position:absolute;
	left:20%;
}

span#themes {font-size: 1em}

#themelist select {
    height:5vh;
    width:15vw;
}

#voicelist select {
    height:5vh;
    width:15vw;
}

select.theme, select.voice {
    vertical-align:middle;
}

.login {
    height:10%;
    width:20%;
    font-size:1em;
}

#login-status {
    font-style:bold;
    color:red;
}

.settings-control, .admin-control, .exec-control {
 
    font-size:1em;
    margin:5px 2px;
    display:none;
}
