/*looma-paint-new.css*/

button#fullscreen-control {
    bottom: 5vh;
    right: 1.5vw;
    display: inline-block;
}

#canvas-div {
    min-height:86vh;
    position: absolute;
    background-color: #fff;
    height: 96%;
    width: 90%;
    bottom: 1vh;
    left:1vw;
    padding:5px;
    border-radius:1vh;
}

canvas {
    /*cursor: url(../images/cursor-crosshair.png), crosshair;*/
    cursor: crosshair;
    position: absolute;
    background-color: transparent;
    /*z-index:1;*/
    bottom: 0;
    left:0;
    /*top: 15%; */
    width:100%;
    box-sizing: border-box;
    height: 100%;
}

#paint-toolbar {
    position: absolute;
    width:7vw;
    height:95%;
    right:0;
    top:0;
    display:grid;
    grid-row-gap: 3vh;
    grid-template-rows: repeat(8, 1fr);
    padding: 2vh 0 10vh 2vw;
    overflow:visible;
}
.button-div.drop {
    display:inline-block;
    margin:auto;
    overflow:visible;
    z-index: 10;
}

.dropdown {
    display:inline-block;
    width:6vw;
    height:11vh;
}

.drop-button {
    background-color:#eee;
    padding: 7px;
    color:black;
    border:none;
    width:100%;
    height:100%;
    cursor:pointer;
    font-size:2em;
    overflow:visible;
    /*z-index: 10;*/
}

.drop-button img {
    height:90%;
    
    /*z-index: 10;*/
}

.drop-content {
    display:none;
    position:relative;
    right:6vw;
    bottom:8vh;
   /* top:3vh;*/
    background-color: #f9f9f9;
    color:black;
    font-size:0.7em;
    width:7vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.drop-content img {
    width:75%;
    max-height: 8vh;
    padding:5%;
}

.drop-content p {
    font-size:0.7em;
    padding:5%;
}
.drop-content p:hover{
    background-color: #0e0e0e;
    color:white;
}
.drop-content img:hover{
    background-color: #ccc;
    color:white;
}

.dropdown:hover .drop-content {
    display: block;
}

div#notice {
    position:absolute;
    top:40%;
    left:40%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    color:black;
    font-size: 3em;
    z-index: 20;
}

.credit {
    bottom:10vh;
    right:10vw;
    height:3vh;
    color:black;
}
