/*
LOOMA css file
Filename: looma-template.css
Associated code files:
Programmer name: Skip
Owner: VillageTech Solutions (villagetechsolutions.org)
Date: Apr 2018
Revision: Looma 3

Comments:
*/

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
}

button.lookup {
    display:inline-block;
}

button.show-keyboard {
    display:inline-block;
}
