#map {
    position:relative;
    bottom:0;
    width: 100%; height: 100%;
}

h1 {margin:10px 0 10px 0}

div.viewer {
    max-height:100%;
}

div.viewer img {
}

/* All of the info boxes in the map */
.info {
    padding: 10px 8px;
    font: 26px Arial, Helvetica, sans-serif;
    color: #555555;
    background: #f4f4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* The legend and the writing in it, overrides .info */
.legend {
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #555;
}

/* The boxes in the legend */
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Images in the info box for the map  [where the nations' FLAGs are shown*/
img.info-image{
    width: 300px;
    height: 200px;
}

.leaflet-popup-pane {}


.capital-popup {height:50vh;width:33vw;}

.leaflet-popop-content-wrapper {
    height: 20vh !important;
    width:33vw !important;
    z-index:20;
}

/* Pop-ups */
.leaflet-popup-content{
    font-size: 20px;
    color: #555555;
    
    width:auto !important; }

 .leaflet-popup-tip-container {display:none;}

/*Images in the popup box for the map*/
img.pop-image{
    height:15vh !important;
    width:auto;
}

/* Some websites say that this way to style the boxes is sketchy, but it works for our purposes */
input[type="checkbox"]{
    transform:scale(1.4, 1.4);
}
input[type="radio"]{
    transform:scale(1.4, 1.4);
}

button#fullscreen-control {
    display:inline-block;
    right:1vw;
}
