
#main-container-horizontal {
    margin:0;
    overflow-y: auto;
    overflow-x: auto;
}

div::-webkit-scrollbar {
    display: none;
}

/* search form */
form {
    text-align: center;
    height: 67px;
    vertical-align:middle;
    font-size : 2em;
    color:rgb(255, 255, 255);
    padding-top: 1vh;
}
input#input {
    border: none;
    border-radius: 6px;
}

/* buttons */
.select, .delete {
    margin: auto 0;
    font-size: 0.5em;
    height: 25px;
    width: 70px;
}
.delete {
    border: 4px solid red;
}
.select {
    border: 4px solid green;
}
#addButton {
    font-size: 1.5em;
    height: 40px;
    width: 130px;
    border: 4px solid blue;
    position: absolute;
    top: 10vh;
    right: 7vw;
}
#saveButton {
    font-size: 1em;
    height: 40px;
    width: 90px;
    border: 4px solid blue;
    line-height: 10px;
}

/* general table info */
#titleTable, #confirmTable {
    font-size: 1.75em;
    color: white;
    height: 2vh;
    width: 50vw;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: 2vw;
}
#confirmTable {
    margin-top: 4vh;
    display: none;
}

/* column headers */
.column {
    border: 1px solid white;
}
.confirmColumn {
    color: black;
    background-color: white;
    border: 4px solid #0c1c4c;
}
.rootCol, .posCol, .nepCol, .ch_idCol {
    width: 130px;
}
.enCol, .pluralCol {
    width: 150px;
}
.defCol {
    width: 400px;
}
.empty1, .empty2 {
    width: 100px;
}

/* text fields */
.rw, .np, .ch_id {
    width: 120px;
}
.en, .plural {
    width: 142px;
}
select {
    width: 120px;
    font-size: 0.7em;
    height: 38px;
}
textarea {
    color: black;
    overflow-wrap: break-word;
    hyphens: auto;
}
.hiddenID {
    display: none;
}