
#playground {
    margin:1vh 2vw;
    padding:3em 1em;
    border: 1px solid #ccc;
    overflow-y:auto;
    max-height:78%;
}

input#keywords {display:inline;}

a {
  text-decoration: none
  ;
}

li {
  list-style: none;
}

h2 {
  font-size: 24;
  font-weight: 600;
  margin: 25px 0 10px;
  text-align: center;
}

/*
.container {
  margin: 0 auto;
  border-radius: 10px;
  overflow:scroll;
}
*/

.row {
  float: left;
  width: 100%;
}

.timeline-both-side {
  float: left;
  width: 96%;
  margin-left: 19px;
  padding-left: 4px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
}

.timeline-both-side:before {
  background-color: #ccc;
  border-radius: 10px;
  bottom: 0; content: " ";
  left: 50%;
  position: absolute;
  top: 0;
  width: 4px;
}
/* puts a little circle at the end of the timeline - deleted for now [confusing to user?]
.timeline-both-side:after {
  border-radius: 10px;
  bottom: -22px;
  content: "";
  height: 18px;
  left: 50%;
  margin-left: -11px;
  position: absolute;
  width: 18px;
  border: 5px solid #ccc;
  color: white
}
*/

.timeline-both-side li {
  position: relative;
  float: left;
  width: 100%;
    margin-top:-20px;
  margin-bottom:-20px;
}

.timeline-both-side li .border-line {
  background-color: white;
  font-size: 1.4em;
  height: 4px;
  left: 50%;
  margin-left: -8%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 8%;
  z-index: 100;
}

.timeline-both-side li.opposite-side .border-line {
  left: auto; right: 50%;
  margin-left: 0;
  margin-right: -8%;
}

.timeline-both-side li .border-line:before {
  background-color: white;
  content: "";
  height: 7px;
  position: absolute;
  right: -4px;
  top: -1px;
  width: 10px;
}

.timeline-both-side li.opposite-side .border-line:before {
  left: -4px;
  right: auto;
}

.timeline-both-side li .timeline-description {
  border-radius: 2px;
  background-color: #ddd;
  /*border: 1px solid white; */
  float: left;
  padding: 10px;
  position: relative;
  width: 42%;
}

.timeline-both-side li.opposite-side .timeline-description {
  float: right;
}

.dropbtn {
  padding: 10px;
  font: 1em "Comic Sans MS", serif, bold;
  cursor: pointer;
  width:100%;
  min-width: 8vw;
  height: 15vh;
  background-color: #FFFFFF;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
  box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30);
}

.dropdown {
  position: relative;
  width:100%;
  display: inline-block;
  font-size: 24;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #091F48;
  font: 20px "Comic Sans MS", serif, bold;
  border-color: white;
  min-width: 100px;
  min-height: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font: 20px;
}

.dropdown-content a {
  color: black;
  padding: 30px 30px;
  text-decoration: none;
  display: block;
  font: 20px;
}

.dropdown-content:hover {
  background-color: white
  color:black;
  padding: 10px;
  font: 24px "Comic Sans MS", serif, bold, black;
  border: none;
  cursor: pointer;
  min-width: 100px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.timeline-description:hover .dropdown-content {
  display: block;
  border: 1px solid white;
  text-align: center;
  font: 20px;
  font color: black;
  border-radius: 10px;
}

.dropdown:hover .dropbtn {
  background-color: white;
  font : 20px;
  font color: black;
}

button img {height:100%;width:100%;}

.scrollButtonDown {
  position: fixed;
  top:3vh;
  right:30vw;
  width: 7vw;
  height:5vw;
  padding: 10px;
  font: 20px "Comic Sans MS", serif, bold;
  cursor: pointer;
  min-width: 100px;
  background-color: #FFFFFF;
  color:black;
  border-radius: 10px;
}

.scrollButtonUp {
  position: fixed;
  top:3vh;
  right:20vw;
  width: 7vw;
  height: 5vw;
  padding: 10px;
  font: 20px "Comic Sans MS", serif, bold;
  cursor: pointer;
  min-width: 100px;
  background-color: #FFFFFF;
  color:black;
  border-radius: 10px;
}
.returnToTop {
  position: fixed;
  top:3vh;
  right:10vw;
  width: 7vw;
  height: 5vw;
  padding: 10px;
  font: 50px "Comic Sans MS", serif, bold;
  cursor: pointer;
  min-width: 100px;
  background-color: #FFFFFF;
  color:black;
  border-radius: 10px;
}

label {
    display:inline;
    float:left;
    font-size:1.5em;
    margin:4vh 0 0 2vw;
}

.searchBar {
  font: 18px "Comic Sans MS", serif, bold;
  display:inline;
  float:left;
  margin:3vh 15px;
  width: 25vw;;
  height: 7vh;
  border-radius: 10px;
}