#map {
    position:relative;
    bottom:0;
    width: 100%; height: 100%;
}

h1 {margin:10px 0 10px 0}

div.viewer {
    max-height:100%;
}

div.viewer img {
}

/* All of the info boxes in the map */
.info {
    padding: 10px 8px;
    font: 26px Arial, Helvetica, sans-serif;
    color: #555555;
    background: #f4f4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* The legend and the writing in it, overrides .info */
.legend {
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #555;
}

/* The boxes in the legend */
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Images in the info box for the map  [where the nations' FLAGs are shown*/
img.info-image{
    width: 300px;
    height: 200px;
}

.leaflet-popup-pane {}


.capital-popup {height:50vh;width:33vw;}

.leaflet-popop-content-wrapper {
    height: 20vh !important;
    width:33vw !important;
    z-index:20;
}

/* Pop-ups */
.leaflet-popup-content{
    font-size: 20px;
    color: #555555;
    
    width:auto !important; }

 .leaflet-popup-tip-container {display:none;}

/*Images in the popup box for the map*/
img.pop-image{
    height:15vh !important;
    width:auto;
}

/* Some websites say that this way to style the boxes is sketchy, but it works for our purposes */
input[type="checkbox"]{
    transform:scale(1.4, 1.4);
}
input[type="radio"]{
    transform:scale(1.4, 1.4);
}

button#fullscreen-control {
    display:inline-block;
    right:1vw;
}

@keyframes blinker {
    from {height:2vh;
        width:2vh;
        background-color:yellow;}
    to {height:0.5vh;
        width:0.5vh;
        background-color:white;}
}
.blinking {
    height:100px;
    width:4100px;
    border-radius:50%;
    border: 1px solid #888;
    background-color:yellow;
    /*
    animation-name: blinker;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
     */
}

.blinking:hover {
    zoom:200%;
    background-color:purple;
}
/*
.blinking1 {animation-duration: 0.5s; animation-delay:0s;}
.blinking2 {animation-duration: 0.5s; animation-delay:0s;}
.blinking3 {animation-duration: 0.5s; animation-delay:0s;}
.blinking4 {animation-duration: 0.5s; animation-delay:0.3s;}
.blinking5 {animation-duration: 0.5s; animation-delay:0.3s;}
.blinking6 {animation-duration: 0.5s; animation-delay:0.3s;}
.blinking7 {animation-duration: 0.5s; animation-delay:0.6s;}
.blinking8 {animation-duration: 0.5s; animation-delay:0.6s;}
.blinking9 {animation-duration: 0.5s; animation-delay:0.6s;}
.blinking10{animation-duration: 0.5s; animation-delay:0.9s;}
*/
