/*
File: editor.css
Author: Nikhil Singhal
Date: July 28, 2016

Defines styles for editor.html

includes styles for various classes and specific elements. this style sheet is not currently
designed to be applicable to other sites, but instead to format this specific page as
efficiently as possible

*/



@CHARSET "UTF-8";
html {
    height: 100%;
}
body {
    background-color: #f6f6f6;
    min-height: 100%;
    max-height: 100%;
}

.popupDiv {
    border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
}

#uploadPDFDiv * {
    margin-top: 4%;
}

.quarter {
    width: 25%;
}

.inline {
    display: inline;
}



#uploadPDFDiv {
    height: 300px;
    margin-top: -125px;
    
    width: 300px;
    margin-left: -150px;
    overflow: scroll;
}

#progressDisplay {
    word-wrap: break-word;
}

.popupDiv .closePopupButton {
    float: right;
}

#addWordDiv {
    margin-top: -29px;
    margin-left: -90px;
}

.centeredText {
    text-align: center;
}

#contextInput {
    width: 60%;
    width: calc(100% - 80px);
}



.boxedSection {
    border: 3px solid green;
    padding: 18px;
}

.partialLeft {
    float: left;
    margin-left: 15%;
}

.partialRight {
    float: right;
    margin-right: 15%;
}

.thirtyW {
    width: 30%;
}


#wordPart {
    width: 80%;
    width: calc(90% - 52px);
}

.right {
    float: right;
}

.clearAll {
    clear: both;
}

.fullWidthBreakText {
    width: 100%;
    word-wrap: break-word;
}


#viewArea {
    margin-top: 10px;
    width: 100%;
    background-color: #baf0ff;
}

#resultsArea {
    overflow: auto;
}

#pageSwitcherSuper {
    left: 0%;
    width: 100%;
    background-color: gray;
}

#pageSwitcherSub {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -125px;
    background-color: gray;
}


#pageInput {
    width: 40px;
}


.disableButtons *:not(.alwaysClickable) {
    pointer-events: none;
}

.disableButtons *:not(.alwaysShow) {
    opacity: 0.4;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding-right: 5px;
}

#resultsTable {
    width: 100%;
    table-layout: fixed;
}

table  tr  td  p {
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 0px;
}
.resultsTableInput {
    background-color: #baf0ff;
    height: 100%;
    width: 100%;
    width: calc(100% - 1px);
    font-size: 120%;
}

.strikethrough {
    text-decoration: line-through;
    color: red;
}

.wordCol, .rootCol, .posCol, .nepCol, .modCol, .dateCol, .selectedCol, .editCol, .ch_idCol, primCol {
    width: 6.3%;
}

.defCol {
    width: 28%;
}

.statCol {
    width: 16%;
}

.entryDeleteButton {
    background-color: red;
    float: right;
    height: 100%;
    font-size: calc(1.4vw - 30px / 6);
    word-wrap: normal;
    width: 30%;
}

.statButton {
    height: 100%;
    background-color: lime;
    font-size: calc(1.4vw - 30px / 8);
    word-wrap: normal;
    width: 40%;
}

.cancelButton {
    height: 100%;
    float: right;
    background-color: orange;
    font-size: calc(1.4vw - 30px / 6);
    word-wrap: normal;
    width: 30%;
}

.primCol input {
    margin-left: 50%;
    margin-left: calc(50% - 6px);
}

.statColorDeleted {
    background-color: red;
}

.statColorAccepted {
    background-color: #21ff02;
}

.statColorModified {
    background-color: yellow;
}

.statColorAdded {
    background-color: orange;
}

.statColorUnedited {
    background-color: #f9eaff;
    pointer-events: none;
}

.selectedCol button {
    height: 100%;
    width: 100%;
}
.selectedWord {
    background-color: #1ace01;
}

.unselectedWord::before {
    content: "un";
}

.unselectedWord {
    background-color: gray;
}


#officialViewer {
    position: fixed;
    bottom: 0px;
    z-index: 90;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    max-height: 40%;
}


#footerLabel {
    border: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid #f9eaff;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-bottom: -3px;
    background-color: #f9eaff;
    pointer-events: all;
}

#officialTable {
    clear: left;
    border-top: 3px solid black;
    background-color: #f9eaff;
    pointer-events: all;
}


#officialSearchArea {
    display: inline;
}


#showOverwriteButton.toggledOff::before {
    content: "Show overwritten";
}

#showOverwriteButton.toggledOn::before {
    content: "Hide overwritten"
}

#showOverwriteButton {
    display: inline;
}
