
#main-container-horizontal {
    display:grid;
    grid-template-rows:  1fr 3fr 3fr 3fr;
    grid-template-columns: [left] 4fr [middle-left] 6fr [middle-right] 3fr [right];
}

#title {
     grid-row: 1;
     grid-column: middle-left / middle-right;
 }

#logo {
    grid-row: 2;
    grid-column: left/middle-right;
}
#logo img {
    margin-left:9vw;
    vertical-align:middle;
}

#log-viewer {
    grid-row: 2;
    height:33%;
    width:33%;
    float:bottom;
    grid-column: left/middle-left;
}
#log-viewer button {
    height: 100%;
    width: 66%;
    margin-top: 100%;
    margin-left: 30%;
    background-image: url(../images/activity.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
button:hover span.tip.yes-show {
    position: relative;
    font-size:1em;
}
#about {
    grid-row: 2;
    grid-column: middle-left / middle-right;
}

.copyright {
    height:2vh;
    margin-right:0.5vw;
}

a {color:lightgreen;}
 #logos {
     grid-row: 3;
     grid-column: left / middle-right;
     background-color: white;
     border:3px solid red;
     border-radius:12px;
     padding:5px;
     margin: 0 3vw;
 }


#logos h5 {
    color:blue;
    text-align:center;
    margin:0;}

 img.loomalogo {
     height:10vh;
 }
 
img.cehrd-logo {
    position:absolute;
    top: 3vh;
    left: 4vw;
    height: 20vh;
    grid-row: 2;
    grid-column: left / middle-left;
}

 #credits-title {
     grid-row: 1;
     grid-column: middle-right /right;
     margin-right:5vw;
 }
 
 #credits {
     grid-row: 2 / -1;
     grid-column: middle-right;
     border-radius:5px;
     background: #fff;
     color:black;
     margin:3px 5px;
     height:95%;
     width:75%;
    
     overflow:hidden;
     text-align:center;
 }

#credits li {list-style-type: none;}

span {
    margin:auto;
}

 #sizemessages {
     grid-row: 4;
     grid-column: left / middle-left;
     margin-left:3vw;
 }
 
 .screensize, .bodysize, .ip, .system, .mongo-version{
     vertical-align:middle;
     text-align:left;
     font-size: 0.8em;
     line-height:1.5vh;
 }
 
.ip:hover {
    font-size:1em;
}
 
 #trademark {
     position:relative;
     top:-20px;
 }

/*a {color:white;}*/

#info-panel {
    grid-row: 4;
    grid-column: middle-left / middle-right;
}