
table {
	margin:auto;
	height:60%;
	width:100%;
	table-layout: fixed;
	border-spacing: 10px;
	border-collapse:collapse;
	cell-padding: 0px;
}

td {padding:10px}

#display {
       padding-left: 10px;
       font-size: 4em;
       font-family: "Comic Sans MS", "Comic Sans", cursive;
       text-align:right;
       vertical-align: middle;
       background-color: #ffffff ;
	   margin: 1% 0 1% 0;
       height:15%;
       width: 75%;
       border:3px solid red;
       border-radius: 12px;
       color:black;
}

button.calc-button {
	padding:0;
	margin:0;
    border:1px solid #606060;
    display:inline-block;
    font-size:50px;
    line-height:28px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration:none;
    text-align:center;
    min-height: 10vh;
    width: 100%;
}


button.calc-button:hover {
    color: var(--looma-button-hover-font-color);
    background-color:var(--looma-button-hover-background);
    border-color: yellow;
    border-width:4px;
    /*transform: scale(1.5,1.5);*/
}

@media screen and (max-device-height: 480px) and (orientation:landscape) , screen and (max-device-width:480px) and (orientation:portrait) {
    td { padding: 0; }
    
    button.calc-button {
        font-size: initial;
    }
    
    #display { margin:0;}
}