#main-container-horizontal {
    overflow-y:auto;
}
.title h1{
    font-size:4em;
    margin-top:3vh;
    margin-bottom:5vh;
}

button.game {
    /*height:25vh;*/
    width:30vw;
    margin:5px;
    font-size:2em;
}
p.small {
    margin:2vh;
    font-size:0.6em;
}