 /*
Filename: looma-library-search.css
Description:
Associated code files: looma-library-search.php
Programmer name: Bo Leschly
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:
Revision: Looma 2.0.x
*/

p{
    margin-bottom: 0px;
}

h2, h3.title  {font-size:2em;}

 div#search-panel {
     margin-top: 3vh;
     margin-left:3vw;
     margin-right:3vw;
     top:5vh;
     left:37vw;
     background-color:rgba(27,71,177,.45);
     z-index:10;
     overflow-y:hidden;
     border-radius:6px;
     font-size: 1.85em;
 }
 
 div#search-kind {display:none;}
 
 form#search *{
     font-size:0.97em;
 }
 div#search-bar-div{
     margin-top: 14px;
 }

 button#media-submit{
     margin: 14px 15px;
     /*padding-bottom: 3.5%;*/
 }
/***************************************/
/******* Button to switch btwn search mode and folder mode ******/
/***************************************/
button#toggle-database{
	position: fixed;
    top:4.5%;
    right:5%;
	height:10vh;
    width:6vw;
    z-index:1000;
    background-image: url("../images/folder.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgba(200,200,200,0);
}

/***************************************/
/****** search-results div specs *******/
/***************************************/
#results-div{
	display: none;
	margin: 1%;
	margin-left:5%;
    margin-right:5%;
    top:5vh;
    left:37vw;
    padding: 2vw;
    background-color:rgba(27,71,177,.45);
    z-index:10;
    overflow-y:auto;
    border:2px solid black;
    border-radius:6px;
}


 button.show-keyboard {
     display:inline-block;
 }
