#timer {
    position:fixed;
    top:33vh;
    left:33vw;
    background-color:green;
    color:yellow;
    margin:auto;
    min-height:33vh;
    min-width:33vh;
}

#timer-count {
    font-size:8em;
    margin:10% 35%;
}