body {
  background-color:white;
}

#back {
    position: absolute;
    right:10vw;
    top:3vh;
    height:12vh;
    width:10vw;
    margin:10px;
    font-size:0.75em;
    border: 2px solid black;
    background-color:red;
}
 #backmessage {position:absolute;
 right:8vw;
 top:7vh;
 }
 
#back:hover { background-color:#ddd;}


#back img {
	height: 10vh;
}

div {
  margin: 25px;
  margin-top: 100px;
}

div#previews {overflow:scroll;}

div a {
  width: 300px;
  border: 1px solid black;
  margin: 9px;
  float: left;
}

div a:hover {
  border: 10px solid black;
  margin: 0;
}

a img {
  display: block;
}

a button {
  /*width: 50px;
  height: 50px;*/
  font-size: 14pt;
  padding: 10px;
  float: right;
  border:1px solid black;
  margin: 2px;
}
