/*
LOOMA css file
Filename: looma-import.css
Associated code files:
Programmer name: Skip
Owner: VillageTech Solutions (villagetechsolutions.org)
Date: Apr 2017
Revision: Looma 2.0.x
*/


body {
    background-color:#0912f8;
    color:yellow;
    font-size:4em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding:10%;
}

h1 {text-align:center}

button {
    font-size:1em;
    font-family:inherit;
    border:2px bold white;
    border-radius: 5px;
}

input {
    font-size:0.75em;
    font-family:inherit;
}

#output {
    width:100%;
    margin:3vh auto;
    font-family:inherit;
    font-size:1em;
    text-align:center;
}
