
/*
LOOMA css file
Filename: looma-lesson-plan.css
Description:
Associated code files:
Programmer name: SCU
Owner: VillageTech Solutions (villagetechsolutions.org)
Date:
Revision: Looma 2.0.x
*/

html, body {margin:0;padding:0;height:100%;}

/********** navigation bar ************/
#headerDiv {
	box-shadow: 0px 0px 25px #C4C4C4;
	width:100vw;
}

span.hint {
    position:absolute;
    top:30%;
    left:25%;
    padding:10vh 0 0 0;
    color:#aaa;
    font-size:2em;
    z-index:-1;
}

.admin, .template-cmd{
    display:none;
}
#cmd-btn {
    visibility: visible;
    font-size: 1.25em;
    background-color: #fff;
    /*padding: 10px;*/
    color: #000;
    width: 100%;
    height: 6vh;
}
#navbar {
	background: #D76126;
	padding: 5px;
	height: 7vh;
	color:white;
	padding-right:20px;
	box-shadow: 0px 0px 25px #C4C4C4;
}
#titleString {
	position:relative;
	float: left;
	padding-left: 100px;
	font-size: 24pt;
}

#logo {
	position: relative;
	float: left;
	width: 10vw;
	height:100%;
	margin-left: 2%;
}

.navbutton {
	float:right;
	margin-right:1%;
	z-index:100;
}

/********** Query Bar (search, filter, results) ************/
#querybar {

	background: #fff;
	padding: 7px;
	height: 10vh;
	margin:1vh;
	box-shadow: 5px 10px 25px #C4C4C4;
	z-index: -2;
	vertical-align:middle;

}

.textBox {
	font-family: Helvetica;
	font-size: 0.75em;
	/*height: 37px;*/
	width: 10vw;;
	/*margin-right: 30px;*/
	padding: 3px;
	border-radius:0.313em;
	display:inline-block;
}

#searchString {
	margin-left: 3%;
	width:15vw;
}

#div_search {
    float: left;
    padding:0px 0px;
    margin:auto;
    text-align:left;
    position: relative;
    padding:0px 2px 2px 16px;
    line-height: 2px;

	width: 12vw;
	display:inline;
}

#search_label {
	display: inline-block;
}

#dropdown_grade {
	font-size: 20px;
	display:inline;
}

#dropdown_subject {
	font-size: 20px;
}

#dropdown_chapter {
	font-size: 20px;
	width: 30vw;
	max-width; 30vw;
}

#dropdown_section {
	font-size: 20px;
}

#div_grade {
    display: none;
	float: left;
	position: relative;
	width: 8vw;;
    padding:2px;
	line-height: 2px;
	padding-top: 10px;
}

#div_subject {
    display: none;
	float: left;
	position: relative;
	width: 17vw ;
    padding:2px;
    line-height: 2px;
	padding-top: 10px;

}

#div_chapter {
    display:none;
	float: left;
    position: relative;
    padding:2px;

	line-height: 2px;
	padding-top: 10px;
}

#dropdown_chapter {
    display:none;
    float:right;
}

#div_filetypes {
    /*margin-top: 20px;*/
    width: 50vw;;
    float: left;
    padding:0px 0px 0px 0px;
    margin:auto;
    text-align:left;
    /*margin-left: 30px;*/
}

#div_categories {
    float:left;
    width:25vw;
    margin:auto;
    text-align:left;
    padding: 0 0;
}

#search select {
    display:inline;}

input {
    background-color:#f8f8f8;
    border:1.75px solid #666;}

#submit_button {
	height: 55px;
	float: right;
	width:60px;
	font-size:2em;
	position: relative;
	margin-top: 0px;
	margin-right: 1%;
}

#clear_button {
	height: 55px;
	float: right;
	position: relative;
	margin-top: 0px;
	margin-right: 2%;
	width: 80px;
}

.filter_label p, .filter_label {
	font-size:1.2em;
	text-align:left;
	padding-right: 6px;
	/*line-height:6px;*/
}

.filter_checkbox, .filter_radio{
    zoom:2;
}

.textdiv {
/*	min-width:250px;
*/	float:left;
}

.buttondiv {
    float:left;
    padding-left: 2vw;
	/*max-width:100px;*/
}

.add {
    float:right;
}

.preview {
    float:right;
}


/*************** Search Results Module ***********************/
#outerResultsDiv {
	float:left;
	margin-left:-15%;
	position:relative;
	background: #fff;
	padding: 0px 20px 20px 20px;
	/*margin: 0 30 30 30;*/
	/*margin-top: 6%;*/
	vertical-align:top;
	height:60vh
	width: 30vw;
	overflow:hidden;
	/*border-radius: 10px;*/
	height: 50%;
	z-index: 1;
	display:inline;
	margin-top:30px;
	box-shadow: 0px 0px 25px #C4C4C4;
}

#innerResultsMenu {
	top:5px;
/*	position:absolute;
*/	z-index:1;
	display:block;
	padding:5px;
}
#innerResultsMenu a {
	color:#000;
	text-decoration:none;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	font-size:18px;
}

#innerResultsMenu a:hover {
	color:#2E3192;
	font-weight:bold;
}

#innerResultsDiv {
	overflow-y:auto;
	height:90%;
}

.result_ft, .result_ID {
    font-size:0.7em;
    font-style:normal;
}


/*#outerResultsDiv {
  /*min-height:120px;
  width:90px;
  float: left;
  display:inline-block;
  margin: auto;
  padding: 20px;
  width: 30%;
  height:500px;
  background: gray;
  overflow-y:auto;
  border-radius: 5px;
}*/

#resultsDiv {
	background:gray;
	color:white;
	border:none;

	overflow-x:hidden;
	overflow-y:auto;
	height:450px;
	font-size: 15px;

}

li:hover {
	background-color: #fff;
	color: black;
	/*border-radius: 0.313em;*/
	padding:0px;
}

/* .resultitem is the class of the divs that show up in results */
.resultitem {
	padding:3px;
	border-bottom:1px solid #000;
	line-height:11px;
	overflow:auto;
}

.resultitem .remove {display:none;}

.textdiv p {
    min-width:10vw;
    margin:0 auto;
	/*margin-left:5px;*/ /*activity DN goes here*/
}

.resultsimg {
	float:left;
	width:7vw;
	min-height:9vh;
	max-height:9vh;
	box-shadow: 0px 0px 10px #888888;
	/*margin-right:10px;*/
}

#collectionTitle {
/*	line-height:10px;
*/}

#displayAndTimeline {
	margin-top: 30px;
	right:2%;
	vertical-align:top;
	z-index: 1;
}

/*.add, .preview, .remove {
	height:30px;
	width:30px;
}*/

.result_activity_section {
	overflow:hidden;
	margin-top:30px;
	margin-bottom:10px;
}

.result_chapter_section {
	margin-top:30px;
	margin-bottom:10px;
	margin-left:100px;
}

/*.result_chapter_section:hover {
	background-color:green;
}*/




/************* Preview module ***************/

#previewpanel {
    overflow-y:hidden;
    overflow-x:hidden;
    width: 70vw;
    max-width: 70vw;
    min-height: 60vh;
    max-height: 60vh;
    background: #fff;
    position: relative;
    float: right;
    /*position: relative;
    float: right;*/
    /*border-radius:15px;*/
    vertical-align:top;
    z-index: 1;
    margin: 0 1vh 1vh 0;
    box-shadow: 0px 0px 25px #C4C4C4;
}

#previewpanel #video-area {
    height:45vh;
    max-height:45vh;
}

#previewpanel #media-controls {
    height:15vh;
    max-height:15vh;
}

#previewpanel .mute, #previewpanel .play-pause {
    width:5vh;
    height:5vh;
    margin:0 5wh 0 0;
    background-color:white;
    background-size: 100% 100%;
}

.play-pause { background-image: url("../images/play-button.png"); }
.mute       { background-image: url("../images/mute.png");}

#previewpanel object {
    height:100%;
}

#previewpanel p {
    margin-top:10px;
    margin-left:10px;
}

#displayImage {
    max-height:60vh;
}

/************* Timeline module ***************/

#timeline {
  /*min-height:50px; min-width:100px;
  display:inline-block;*/
  float: left;
  width: 99vw;
  min-height:20vh;
  margin:1vh;
  margin-bottom: 3vh;
  /*overflow-x:scroll;*/
  overflow-y:hidden;
  background: #fff;
  box-shadow: 0px 0px 25px #C4C4C4;
  /*border-radius:0.313em;*/
}

.timelineEntire{
	width:100000px;
	min-height:20vh;
}

#results {
	width: 80%;
	min-height: 300px;
}

#timelineDisplay {
	clear:both;
}

#timelineDisplay .activityDiv {
    width:15vw;
    min-height: 20vh;
    float:left;
}

#timelineDisplay .textdiv{
    height:50%;
    width:45%;
    float:left;
    padding-left:3px;
    display:block;
    overflow:hidden;
}

#timelineDisplay .textdiv p {
    font-size: 1em;
    max-width:100%;
}

#timelineDisplay .textdiv .result_ID {
    display:none;
    font-size:0.75em;
}

#timelineDisplay .buttondiv {
    float:left;
}

#timelineDisplay .buttondiv .add{
    display:none;
}

#timelineDisplay .thumbnaildiv {
    height:10vh;
    width:50%;
    float:left;
}



.timelineTextDiv {
	height:50%;
	display:block;
	overflow:hidden;
}

.timelineButtonDiv {
}

.timelineimg {
	width:40px;
	/*max-height:45px;*/
	float:left;
	box-shadow: 0px 0px 10px #888888;
	margin-right:10px;
}

/* ************************ OPEN! ********************/

#openLogo {
	position: relative;
	float: left;
	width: 120px;
	padding-left: 10px;
	padding-top: 5px;
}

ul {
	padding-left: 1.5%;
}

h3{
	font-size: 30px;
	margin-top:5px;
}

#openNavbar {
	background: #D76126;
	padding: 5px;
	height: 75px;
	color:white;
	padding-right:20px;
}

#navbar p {
	margin: auto;
/*	padding-left: 15%;
	padding-top: 5px;*/
	font-size: 30px;
	margin-left:200px;
	font-weight:bold;
	vertical-align:center;
	margin-top:11px;
	width: 600px;
	margin-right: 0px;
}

#openForm {
	text-align: center;
}
#title:hover {
	background-color: #fff;
    color: black;
    /*border-radius: 0.313em;*/
    padding:0px;
}
#btnSearch {
	position: relative;
	left:500px;
}
#btnNewLesson {
	float:right;
	width: 180px;
	height: 40px;
	margin-right: 2%;
	margin-top: -28px;
	white-space: normal;
}
#header {
	float:middle;
	background: #fff;
	padding: 20px;
	width: 80%;
	margin: 15px auto;
}
#lessonDiv {
	background-color:white;
	color:black;
	padding:2px;
	margin:auto;
	/*width:94%;*/
	border:solid;
	border-color: white;
	border-width:3px;
	/*border-radius: 10px;*/
	overflow-y:scroll;
	height: 70%;
	box-shadow: 0px 0px 25px #C4C4C4;
}
.btnOpenTimeline {
	margin-right: 15px;
	margin-left: 15px;
}
.lessonEntry {
	height: 50px;
}

/*.editPresent0, .editPresent1, .editPresent2 {
	float: right;
}*/
/* ************************ PRESENT! ********************/
#presentNavbar {
	background: #D76126;
	padding: 5px;
	height: 45px;
	color:white;
	padding-right:20px;
	margin-bottom: 0px;
}

#presentdisplaybox {
	width: 100%;
	height: 640px;
	background: gray;
	margin: 20 auto;
	/*border-radius:10px;*/
	margin-bottom: 0px;
	margin-top: 0px;
	/*margin-top: 28px;
	margin-right: 25px;*/
}
#presentwrapper {

	  /*min-height:50px; min-width:100px;
	  display:inline-block;*/
	  padding: 15px;
	  width: 100%;
	  margin: 0px auto;
	  height:150px;
	  /*margin-right: 25px;
	  margin-top: 25px;*/
	  overflow-x:scroll;
	  overflow-y:hidden;
	  background: darkgray;
	  /*border-radius:0.313em;*/
	  position:relative;
}

#presentTitle {
	width: 25%;
	padding-left: 3%;
	display: inline-block;
	margin-top: .8%;


}

#btnEdit {
	float: right;
	margin-right: 1%;
	margin-top: -35px;
}

#btnOpen {
	float: right;
	margin-right: 1%;
	margin-top: -35px;
}

/* ************************ INDEX && OPEN! ********************/
#string {
	font-family: Arial;
	font-size: 20px;
	height: 50px;
	width: 250px;
	margin-right: 30px;
	background:white;
	padding:10px;
	/*border-radius:0.313em;*/
}
/* ************************ INDEX && PRESENT! ********************/
.timelinediv {
  min-height:100%;
  width:10vw;
  display:inline-block;
  margin:2px 2px 0 0;
  padding: 3px;
  float: left;
/*  font-size: 12px;*/
  background: white;
  border-radius: 5px;

  /*max-height:90px;*/
  /*border:1px solid #000;*/
  background-color:#E8E8E8;
}

.timelinediv p {
	font-size:12px;
	line-height:14px;
}
.timeline{
	width: 1500px;
	height:100px;
	position: absolute;
}


/* ************************ ALL! ********************/

.hidden {
	display:none !important;
}

#main-container-horizontal {
	overflow-y:hidden;
	overflow-x:hidden;
	height:100%;
	max-height:100%;
	max-width:100%;
}

#container {
	width: 100%;
	position: relative;
}

a.heading {
    font-size: 0.6em;
}

#titleDiv {
	/*margin-top:-15px;
	margin-bottom:-25px;
	*/
	height: 4vh;
	text-align:right;
	padding-right: 7vw;
	vertical-align:middle;
}

#titleDiv p {
	display:inline-block;
}

/*img {
	width: 60px;
}*/
button {
	display:inline;
	color:white;
	background:#2E3192;
	border-radius:0.313em;
	/*width: 90px;*/
	height: 40px;
	white-space: nowrap;
	font-size: 20px;
	margin-top: 3px;
}
li {
	list-style-type:none;
/*	padding-top: 20px;*/
	padding-left: 10px;
}
ul {
	padding-left: 0px;

}
body {
    box-sizing: border-box;
	background-color:#e3e3e3;
	color:black;
	font-family: Helvetica;;
	font-size: 20px;
}
p {
	font-size:18px;
	line-height:20px;
	margin-top:0px;
	margin-bottom:0px;
}
li:hover {
	background-color: #e3e3e3;
/*	padding-top: 20px;*/
	padding-left: 10px;

	/*border-radius: 0.313em;*/
/*	padding-top: 1.75%;
*/}
label {
	padding-right: 1em;
}
#outerResultsDiv {
	float:left;
	position:relative;
	background: #fff;
	padding: 0px 20px 20px 20px;
	/*margin: 0 30 30 30;*/
	/*margin-top: 6%;*/
	vertical-align:top;
	/*border-radius: 10px;*/
	height: 60vh;
	width: 28vw;
	z-index: 1;
	display:inline;
	margin: 0 1vh 1vh 1vh;
	box-shadow: 0px 0px 25px #C4C4C4;
}

#commands {
    top: 0vh;
    vertical-align:middle;
}
.control-button {
    position: absolute;
    bottom: 2vh;
    right:5vw;
    background: white;
    background-position: left top;
    background-size: 100% 100%;
    margin: 0 0.5vw 0 0.5vw;
    width:5vw;
    height:7vh;
}

.control-button img {
    margin: 0;
    padding: 0;
    height: 70%;
    width: 70%;
    /*vertical-align:middle;*/
}

#dismiss {
    color : white;
    background-color: red;
    border-color: red;
    /*width: 3vw;*/
}

#dismiss { background-image: url("../images/back-arrow.png"); }

#padlock {
    bottom:20vh;
}
