
#game {
    height:100%;
    display:grid;
    grid-template-rows: [game-top] 1fr [game-middle] 6fr [game-bottom];
    grid-template-columns:  1fr 4fr  1fr;
}

#title {
    grid-row:game-top /game-middle;
    grid-column: 1 / -1;
    font-size:6vh;
    vertical-align: middle;
}

#topicValue {
    left:45%;
    margin: 0 15vw;}

#problem-count {
    text-align:center;
    top:5%;
    right:5%;
    padding:5px;
}
#left {
    grid-column:1;
    grid-row:game-middle / game-bottom;
}

#right {
    grid-column:3;
    grid-row:game-middle / game-bottom;
    
}

#work-area {
    grid-column: 2;
    grid-row: game-middle / game-bottom;
    font-size: 8vh;
    height:75vh;
    background-color: white;
    border: 4px solid red;
    border-radius: 10px;
}

button#fullscreen-control {
    display:inline-block;
}

button.show-keyboard {
    display:none;
}


#message{
    width:99%;
    font-size:5vh;
    color: green;
    font-style:bold;
    margin:auto;
    text-align:center;}

#num1{
    position: relative;
    padding-right:17vw;
    font-weight:bold;
    
    color: black;
    text-align:right;
}

#num1.div{
    width:10vw;
    top:11vh;
    left:16vw;
}

#num2{
    position: relative;
    padding-right:17vw;
    color:black;
    font-weight:bold;
    text-align:right;
}

#num2.div{
    width:20vw;
    text-align:left;
    left: 29vw;
    top: 0vh;
}

#operation{
    height:5vh;
    text-align:left;
    padding-left:12vw;
    position: relative;
    top: -12vh;
    font-size:2em;
    color:black;
}

input#answer{
    position: relative;
    padding: 0 7px 0 0;
    /*direction:RTL;*/
    color: black;
    font-weight:bold;
    font-size:1em;
    text-align:right;
    border:5px solid blue;
    border-radius: 10px;
}

input#answer.div {
    bottom: 13vh;
}
hr#answerLine{
    border: 0;
    height: 1vh;
    background: black;
    color:black;
    position: relative;
    width:60%;
    margin: 0 auto 4vh;

}

#division-symbol {
    position:relative;
    top: -14vh;
    width: 25%;
}

hr#horizontalLineDiv{
    position: relative;
    left: 50%;
    top: 36%;
    width:25%;
}

#verticalLineDiv{
    position: relatifve;
    left: 50%;
    top: 40%;
    border-left:thick black solid;
    height:15%;
}

.button-group {
    height:15vh;
    position:relative;
    margin:10px auto;
    text-align:center;
}

.button-group.div {
    bottom:13vh;
}
.button-group button {
    width:20vw;
    height:15vh;
    font-size:1em;
}

button#enter{
    margin:auto;
    position: relative;
    overflow:hidden;
}

button#clear{
    margin:auto;
    position: relative;
    overflow:hidden;
}

button#help{
    height:80%;
    position: absolute;
    left: 5%;
    overflow:hidden;
}

button#next{
    position:relative;
    top:30vh;
    height:15vh;
    font-size:2em;
}

button#homePage{
    position:relative;
    top:30vh;
    height:15vh;
    font-size:2em;
}

.show-numpad-button {left:4%;}
.numpadContainer {
    left:2vw;
    top:20vh;
}

h2, h3 {font-size:3em;}

/* styling for HELP calculator */

#calculator{
    position: absolute;
    visibility:hidden;
    z-index: 1;
    background-color: #778899;
    left: 5%;
    top: 30%;
    height: 40%;
    width: 25%;
    margin:1%;
}

.numButton{
    border: solid white 2px;
    border-radius: 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
    color: black;
    margin: 5px;
    background-color:#ff33cc;
}

.opButton, #ButtonEquals{
    background-color: #ff66ff;
}

#calcDisplay{
    height: 15%;
    width: 90%;
    margin:5px auto;
    padding: 5px;
    background-color: #8FBC8F;
    font-family: Arial;
    font-weight: bold;
    font-size: 3em;
}

#calcTable{
    width:90%;
    height:80%;
    margin:auto;
    padding:5px;
    text-align:center;
    border-spacing: 15px;
}

#calcTable td {
    margin:15px;
    border-spacing: 10px;
    border-radius: 7px;
    border:solid #FFFF00 2px;
    border-collapse:separate;
}

#clrBtn{
    background-color: #cc66ff;
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
    color: black;
    margin: 5px;
    
}

#pmBtn{
    background-color: #cc66ff;
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
    color: black;
    margin: 5px;
}


