
#video-player {height:76vh;}
#media-controls {height:14vh;}

#text-file-area, #pdf-area, #picture-area, #added-video-area {
    display:none;
}

#show-base-video {
    position:absolute;
    right:4vw;
    bottom:33vh;
    height:8vh;
    width:8vw;
}

#show-base-button {
    border:1px solid black;
    background-color:yellow;
    font-size:1.25em;
}

button#fullscreen-control   {display:inline;}
button#fullscreen-playpause {
    display:none;
    position: fixed;
    right:5vw;
    top:68vh;
    opacity: 0.4;
    z-index: 1000;
    height: 10vh;
    width:  10vh;
    background-repeat: no-repeat;
    background-position: center;
}

button#fullscreen-playpause:fullscreen {display:inline;}

/* Titles and Descriptions */
div#title-area {
    top: 0px;
    right: 0px;
    padding-right: 3vw;
    position: absolute;
    text-align: center;
    z-index: 0;
}

div#title-div {
    height: 50%;
    width: 100%;
}

#title { word-break: break-all; }

#video-area {margin:auto;}

#picture-area {
    height: 100%;
    max-height:100%;
    margin: auto;
    overflow-y:hidden;
}

$picture-area img {
    max-height:100%;
    margin:auto;
 }

#pdf-area {
    overflow:auto;
    height: 100%;
    width: 100%;
    margin: auto;
}

#added-video-area {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: auto;
}


::-webkit-scrollbar { width:30px; }

/*
#cancel {
    height: 50%;
    display: none;
    float: left;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 0px;
}

#text {
    height: 50%;
    display:none;
    margin-top:0px;
}

#image {
    height: 50%;
    display: none;
    margin-top: 0px;
}

#pdf {
    height: 50%;
    display: none;
    margin-top: 0px;
}

/*
#submit {
    height: 50%;
    transform: translateY(50%);
    display: none;
    margin-top: 0px;
}


button.img {
    height: 100%;
    vertical-align:middle;
    text-align:center;
}

button.img:hover {
    transform:none;
}


button.img img {
    height:100%;
    width:30%;
    max-width:50%;
}

button.img.play, button.img.activity{
    font-size: 30px;
    font-weight:bold;
    margin-left: 10px;
    margin-right: 10px;
}

button#delete {
    background-image: url("../images/trash.png");
    background-size: 100% 100%;
    background-color:rgba(255,255,255,1);
    height: 5vh;
    width:  5vh;
    background-repeat: no-repeat;
    display: none;
    margin-left: 2.3vw;
    
}
*/
