p:empty:before {
    content: ' ';
    white-space: pre;
}

#editor {margin: 3vh 10vw;
    max-height:100%;
    background-color:#f8f8f8;
    color:darkblue;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

p {
    width:100%;
    margin:auto 0;
    font-size: 5vh;
    font-weight:bold;
    line-height:6.5vh;
    padding:0;
    overflow: clip;
    scroll:none;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

p br {display:none;}

[contenteditable="true"] {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
}
[contenteditable="true"] br {
    display:none;
    
}
[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}