	body {width:1200px;
		padding:15px;
	}

	h2 {text-align:center;
	}

	label {
		float:left;
		text-align:right;
		width:15em;
		margin-right: 1em;
	}

	fieldset {border:1px solid;
		padding:10px;
	}

	legend {
		width:250px;
	}
	input, select, number, datetime, month
		   {margin-left: 1em;
			margin-bottom: 1em;}

	textarea {
		height:8em;
		 width:30em;
		 margin-bottom: 1em;
	}

p {
	margin-left: 10em;
}
	footer {
		text-align:right;
	}

	.center {
		margin-left:auto;
		 margin-right:auto;
		 width:40%;
	}

	input {
		padding:0;
		margin:0 auto;
		background-color:#DDDDDD;
	}

	input.text {
		width:30em;
	}

	section {
		width:100%;
	}
	input.big {
		display:block;
		width:120px;
		height:40px;
		margin: 5px auto;
	}
