/**********************
Author: Luke Bowsher, Catie Cassani, Sun-Mi Oh, Meg Reinstra, Alexa Thomases
Filename: looma-game.css
Date: June 2018
Description: formatting and styling for the game page
***********************/

/************MAIN FRAME*************/
.container
{
    grid-row: top / toolbar;
    grid-column: left / right;
  display: grid;
  grid-template-columns: [left] 85%  15% [right] ;
  grid-template-rows: [top] 8% 8%  22% 12% 40% 10% [bottom];
  width: 100vw;
    padding:0;
    margin:0;
}

.header {
  grid-column: left / 2;
  grid-row: top / 2;
    user-select:none;
}

h1#gameTitle {font-size: 5vh;}

#top {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size:4vh;
    margin: 0.5vh 2vw;
}


#thegameframe {
    grid-column: 1 / 2;
    grid-row: 3 / bottom;
    /* border: 1px solid yellow; */
    overflow: hidden;
    position:relative;
}

.toolbar {
    grid-column: left / right;
    grid-row: toolbar / bottom;
}

#teamoptions {
    position:relative;
    top:5vh;
}
#timer {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display:none;
    user-select:none;
    border: 2px solid var(--looma-font-color);
    border-radius: 5px;
}

#scoreboard {
    grid-column: 2 / 3;
    grid-row: 4 / bottom;
    display:none;
    border: 2px solid var(--looma-font-color);
    border-radius: 5px;
    font-size:1em;
}

.teamnumber {
    margin:5vh;
    color:            var(--looma-button-font-color);
    background-color: var(--looma-button-background);
    
    width:11%;
    height:65%;
    font-size: 5vw;
    overflow: hidden;
    padding:0 0 5px 0;
}

.teamnumber:hover {
    transform: scale(1.2,1.2);
    color: var(--looma-button-hover-font-color);
}

.teamnumber.active {
    color:var(--looma-button-active-background);
    background-color: var(--looma-button-active-font-color);
}

#gameframe {
    display:grid;
    height:100%;
    width: 100%;
}

#game {
   height:100%;
    width:100%;
}

#gameOverFrame {padding-top:20vh}



#optionsframe {
    grid-column: 1/3;
    grid-row:2/5;
    display:none;
    margin-top:25vh;
}

#sortgame {
    display:none;
    grid-column: 1/3;
    grid-row:2/5;
}

.bigscore {
  max-height: 15%;
  max-width: 8%;
}

#scoreList h5 {
    margin:0;
    font-size:3em;
}

#prompts {
    display:inline-block;
    float: left;
    margin-left: 3vw;
    width:25vw;
    max-width: 25vw;
}

#responses {
    display:inline-block;
    float:left;
    width:52vw;
    max-width: 52vw;
    margin-left:2vw;}

.prompt{
     display: block;
     min-height: 12vh;
    max-height:12vh;
     max-width: 25vw;
     min-width:25vw;
     font-size:2em;
}

.prompt img, .response img{
    height:12vh;
    width:11vw;
}

/* CP NEW (1) */
.prompt.picture{

    height: 12vh;
    margin:auto;
}

.response{
    display: block;
    min-height: 12vh;
    max-height:13vh;
    width:100%;
    font-size:2em;
}

.response.picture {
    margin:0;
    height:12vh;
    font-size:3em;
}

.prompt.clicked, .response.clicked {
    color:orange;
}

.prompt.matched, .response.matched {
    color:green;
    background-color:white;
    font-style:italic;
}

.prompt.mismatched, .response.mismatched {
    color:red;
    background-color:white;
    font-style:italic;
}

.prompt.done, .response.done {
    color:black;
    background-color:white;
    opacity:0.5;
}

#end {
  max-height: 15%;
  position: absolute;
  top: 20%;
  left: 34%;
}

#marker {
  max-height: 10%;
  position: absolute;
  left: 36.5%;
  top: 55%;
}

#start {
  max-height: 15%;
  position: absolute;
  left: 34%;
  top: 55%;
}

#timer-count {
    margin:0;
    font-size: 12vmin;
}

#scoreboard {
  font-size: 4vmin;
    user-select:none;
}

#scoreboard p {margin:0;}

#scoreboard scan {display:inline-block;}

.progress-bar {
    width: 100%;
    height:3vh;
    background-color: lightgray;
}

.inner-progress {
    width: 0.00001%;
    height: 100%;
    background-color: red;
    position: relative;
}

#progress h4 {position:relative;
    top:-35px;
}

#score-message {
    margin: 1vh 0 1vh 0;
    font-size: 1.25em;
    position: relative;
}

.scoreboard-scores {
  font-size: 6.5vmin;
  position: relative;
  top: -16%;
}

#high2 {
  position: absolute;
  left: 34%;
  top: 20%;
}

#vert-marker2 {
  max-height: 10%;
  position: absolute;
  left: 36.5%;
  top: 55%;
}

#low2 {
  position: absolute;
  left: 34%;
  top: 55%;
}

#high3 {
  position: absolute;
  left: 45%;
  top: 20%;
}

#vert-marker3 {
  max-height: 10%;
  position: absolute;
  left: 47.5%;
  top: 55%;
}

#low3 {
  position: absolute;
  left: 45%;
  top: 55%;
}

#high1 {
  position: absolute;
  left: 22%;
  top: 20%;
}

#vert-marker1 {
  max-height: 10%;
  position: absolute;
  left: 24.5%;
  top: 55%;
}

#low1 {
  position: absolute;
  left: 22%;
  top: 55%;
}

#high4 {
  position: absolute;
  left: 56%;
  top: 20%;
}

#vert-marker4 {
  max-height: 10%;
  position: absolute;
  left: 58.5%;
  top: 55%;
}

#low4 {
  position: absolute;
  left: 56%;
  top: 55%;
}

#wide-left2 {
  position: absolute;
  left: 5%;
  top: 35%;
}

#hori-marker2 {
  position: absolute;
  top: 35%;
  left: 5%;
}

#wide-right2 {
  position: absolute;
  top: 35%;
  left: 55%;
}

#wide-left3 {
  position: absolute;
  left: 5%;
  top: 47%;
}

#hori-marker3
{
  position: absolute;
  top: 47%;
  left: 5%;
}
#wide-right3
{
  position: absolute;
  top: 47%;
  left: 55%;
}

#wide-left4
{
  position: absolute;
  left: 5%;
  top: 58%;
}
#hori-marker4
{
  position: absolute;
  top: 58%;
  left: 5%;
}
#wide-right4
{
  position: absolute;
  top: 58%;
  left: 55%;
}

#wide-left1
{
  position: absolute;
  left: 5%;
  top: 24%;
}
#hori-marker1
{
  position: absolute;
  top: 24%;
  left: 5%;
}
#wide-right1
{
  position: absolute;
  top: 24%;
  left: 55%;
}

#sender
{
  position:relative;
  margin-top: 36%;
}

.bighoriscore
{
  max-height: 12%;
  max-width: 15%;
}
.bigvertiscore
{
  max-height: 15%;
  max-width: 15%;
}
.button
{
    border: none;
    color: black;
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;
    /* This font size was chosen to accomodate large
    definitions, but if they are too long, they will
    still not fit and this may need to be adjusted */
    font-size: 2.2vmin;
    display: inline-block;
    margin: .5vw 1vw;
    width: 25vw;
    height: 6vw;
}



.button.picture{
    height: 9vh;
    width: 10vw;
}

button:hover, .button:hover
{
    border: 4px solid yellow;
    color:blue;
}
/***************** CONCENTRATION GAME ******************/

#buttons {
    position:relative;
}

.concButton {
    display:inline-block;
    width:23%;
    min-height:16vh;
    margin:10px;
    height:20%;
    float:left;
    font-size:2em;
    background-color:paleblue;
    background-image: url("../images/nepal-flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:45%;
}
.concButton span {display:none;}

.concButton img {height:90%;}

.concButton.flipped {background:white; color:blue;}
.concButton.flipped span {display:inline;}

.concButton.correct {color:green;}
.concButton.wrong   {color:red;}


/***************** TIMELINE GAME ******************/
 
 /*empty (and hidden) button in the timeline that's just used to position/style the dates and events*/
.empty
{
  color: black;
  margin: 4px 2px;
  padding: 21px;
  visibility: hidden;
}

/*creates the yellow timeline line*/
.timeline ol::before
{
  content: '';
  position: absolute;
  height: 5px;
  width: 110%;
  background-color: yellow;
  top: 50%;
  bottom: 0;
  left: 0;
  right:0;
  z-index: -10;
}

/*timeline div class*/
.timeline
{
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  min-height: 50%;
  text-align: justify;
  white-space: nowrap;
}

/*holds all timeline buttons*/
.timeline ol
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*keeps all events in a horizontal line*/
.timeline ol li
{
  display: inline-block;
}

/*keeps events above and below dates*/
.timeline ol li button
{
  display: block;
}

/*styling for the event buttons in the timeline and the event buttons in the events div*/
/*their dimensions need to be the same for styling!*/
.timelineEvent, .event
{
  width:50vh;
  white-space: normal;
  font-size: 1.5em;
}

/*makes the height of the event buttons in the events div shorter*/
.event
{
  height: inherit;
    margin:5px;
}

/*styling for the date "buttons" on the timeline*/
.date
{
  font-size: 2em;
  margin-right: 10vw;
  z-index: 10; /*keeps the dates in front of the timeline line*/
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 8vw;
}

/*div that holds the event buttons*/
.events
{
  height: 41.9%;
  overflow-y: auto;
  white-space: normal;
  text-align: center;
  z-index: -100;
}

/*div that displays the instructions and the end message*/
.endMessage
{
  min-height: 8%;
  font-size: 1.5em;
  overflow: hidden;
}

/********************* MAP GAME ***********************/
#map
{
    width: 100%;
    height: 100%;

}

/********************* YesNo GAME ***********************/

.yesno {
    margin:5vw;
    width:10vw;
    height:10vh;
}
.yesno:hover {color:blue;}

a button:hover {color:blue;}

.red {color:red;}

/********************* Multi-choice GAME ***********************/

#top #current-team {
    float:left;
    padding:-left: 2vw;
}

#top #question-number {
    float:left;
    padding-left: 1vw;
}

#top #question {
    background-color:yellow;
    color:blue;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#answers {
}

#answers button {
    height:10vh;
    font-size:2em;
    margin:2vh 2vw;
    min-width:50vw;
    max-width:80vw;
}

.good, .good:hover {
    color:green;
    font-style:italic;
}
.bad, .bad:hover {
    color:red;
    font-style:italic;
}

/********************* Map GAME ***********************/

#top #next {
    display:none;
    float:right;
    width:20vw;
    height:5vh;
    font-size:0.7em;
    margin-top: 1vh;
}

#top #next:hover {border:none;}

/* sort game styles */

#fullscreen {
    display:grid;
    grid-template-rows:    [top] 1fr [main] 5fr [middle] 1fr [bottom];
    grid-template-columns: [left] 1fr [midleft] 1fr [midright] 1fr [right];
}

#bins {
    grid-row: main / middle;
    grid-column:left / right;
    min-width:90vw;
    height:60vh;
    border-radius: 5px;
    display:flex;
    gap:3vw;
    flex-direction: row;
    justify-content: center;
}

.bin_holder {
    min-height:100%;
}
.bin {
    user-select: none;
    display:flex;
    flex-direction: column;
    min-height:80%;
    margin:auto;
    background-color:white;
    color:green;
    border:4px solid  yellow;
    border-radius: 5px;
}
.heading {
    user-select: none;
    font-size:3em;
    width:30vw;
    margin:auto;
}

#words {
    grid-row: middle / bottom;
    grid-column:midleft / midright;
    background-color:white;
    border:4px solid  yellow;
    color:red;
    font-size: 5em;
    border-radius: 5px;
    width:100%;
    margin: 1vh auto;
}
#words p {display:inline;}

#word, .ui-draggable-dragging {
    width:20vw;
    margin:auto;
    font-size:4em;
    color:red;
}

p.dragging {
    color:blue;
    font-size:3em;
    margin:0;
}
p.dropped {
    color:green;
    font-size:3em;
    margin:0;
}

#next_button {
    grid-row: middle / bottom;
    grid-column:midright / right;
    height:8vh;
    width:15vw;
    margin:auto;
}

#divstyle {
    width: 700px;
    height: 300px;
    padding-top: 20px;
    padding-left: 5px;
    text-align: center;
    background-color: cadetblue;
}
#drag {
    width: 150px;
    height: 100px;
    background: #eee;
    text-align: center;
    padding-top: 30px;
}

button.looma-control-button {
    right: 1vw;
}

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
    bottom:23vh;
}
button.lookup {
    display:inline-block;
    bottom:35vh;
}