.numpadContainer {
    position: fixed;
    top: 5vh;
    left: 5vw;
    margin: 0 auto;
    height: 52vh;
    width:25vw;
    overflow:hidden;
    background-color: lightsteelblue;
    border-radius:5px;
    z-index: 2147483648;
    
}

#looma-numpad {
    display:grid;
    grid-gap:1px;
    height:100%;
    width:100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 19% 19% 19% 19% 19%;
    padding: 2px;
    margin: 0 auto;
}


.numpad-button {
    font-size: 3em;
    min-width:25%;
    margin:3px;
    border-radius: 5px;
    text-align:center;
}

.numpad-blank {
    visibility: hidden;
}

.numpad-nepali {
    display: none;
}

.nepali .numpad-normal, .nepali .numpad-shifted, .nepali.shifted .numpad-shifted {
    display: none;
}

.nepali .numpad-nepali {
    display:block;
}


#numpad-language {
    background-color: white;
    background-image: url("../images/native-flag.png");
    background-size: 75% 90%;
    background-position:center;
    background-repeat: no-repeat;
}

#numpad-language.nepali {
    background-image: url("../images/english-flag.png");
}

#numpad-backspace {
    display:inline-block;
    background-size: 50% 50%;
    background-image: url(../images/backspace.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
#numpad-hide {
    background-color: white;
    background-image: url(../images/back-arrow.png);
    background-size: 75% 90%;
    background-repeat: no-repeat;
    background-position: center;
}
#englishButtonText {
    display: none;
}

.nepali #englishButtonText {
    display: inline;
}

.nepali #nepaliButtonText {
    display: none;
}


#inputEntry  {
    font-size: 4em;
    width:80%;
    margin: 1vh auto;
    text-align:center;
    color: black;
    border-radius: 5px;
    direction:rtl;
    text-align:right;
}

.show-numpad-button {
    position: absolute;
    bottom: 5%;
    left: 15%;
    height: 10%;
    width: 7.5%;
    z-index: 1000;
    opacity: 0.4;
    background-image: url("../images/keypad.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% 110%;
    background-color: rgba(200,200,200,0.7);
}
