#main-container-horizontal {
    margin:0;
}

button {margin: 3vh;}

.button-div#row1 {
   
    height: 25%;
    min-height:25%;
}

.button-div#row2 {
   
    height: 30%;
    min-height:25%;
}

button.subject {
    background-repeat: no-repeat;
    background-position:center;
    background-size:67%;
    width:15%;
    height:80%;
    margin: 1% 2%;
    font-size: 2em;
}

button.subject p {margin: 1vh 0;}

.button-5 img {
    height: 90%;
    width: 80%;
}

button.subject.active {
    background-color: #00f;
}
button#add  {
    background-image:url('../images/plus.png');
}

button#add.active {
    background-image:url('../images/plus-white.png');
}

button#sub  {
    background-image:url('../images/minus.png');
}

button#sub.active {
    background-image:url('../images/minus-white.png');
}

button#mult  {
    background-image:url('../images/times.png');
}

button#mult.active {
    background-image:url('../images/times-white.png');
}

button#div  {
    background-image:url('../images/divide.png');
}

button#div.active  {
    background-image:url('../images/divide-white.png');
}

button.class:hover,  button.subject:hover {
    transform: scale(1.05,1.05);
}
.button-5 {
    width:15%;
    height:80%;
    margin: 1% 2%;
    font-size: 2em;
}

.button-5 img {
    height: 90%;
    width: 80%;
}

button.class {
    margin: 3px;
    padding: 0 3px;
    color: black;
    min-width:9vw;
    line-height: 1.0;
    font-size: 7vw;
    font-weight: bold;
   
}

button.class.active {
    background-color:blue;
    color:yellow;
}
#subjects button.game {
    background:white;
    height:25vh;
    margin: 1vw;
}

button#bagh-chal {
    display:inline-block;
    bottom: 17vh;
    right:1.5vw;
    /*opacity:0;*/
}

h1.title {
    grid-column:1 / -1;
    font-size:4em;
    margin-top:3vh;
    margin-bottom:5vh;
}
