/*
File: editor.css
Author: Nikhil Singhal
Date: July 28, 2016

Defines styles for editor.html

includes styles for various classes and specific elements. this style sheet is not currently
designed to be applicable to other sites, but instead to format this specific page as
efficiently as possible

*/



@CHARSET "UTF-8";
html {
    height: 100%;
}
body {
    background-color: #f6f6f6;
    min-height: 100%;
    max-height: 100%;
}

button {
    font-size:1em;
    border:2px solid blue;
    border-radius: 5px;
    background-color:#FFFACD;
    cursor:pointer;
}

#showOverwriteButton {
    font-size: 1em;
}


pre.inline { font-size:1.4em;}

input[type='button'], input[type='file'], input[type='text'] {
    margin:3px;
    font-size:1.1em;
    border:2px solid blue;
    border-radius: 5px;
    background-color:#FFFACD;
}

#rightButtons, #leftButtons {
    width:17vw;
    display:inline-block;
    vertical-align:middle;
}

.rightButton, .leftButton {
    min-width:100%;
    margin:3px;
}

.admin, .exec{
    display:none;
    background-color:lightgray;
}

.boxedSection {
    border: 3px solid green;
    padding: 5px;
    border-radius:5px;
    display:inline-block;
    min-height:100%;
    max-height:100%;
    height:100%;
    vertical-align:middle;
    
}
.thirtyW {
    width: 30vw;
}

#arrows {text-align:center;}

.popupDiv {
    border: solid 1px black;
    position: fixed;
    padding:5px;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
}

.quarter {
    width: 25%;
}

.inline {
    display: inline;
}



#uploadPDFDiv {
    padding-top:1vh;
    position:absolute;
    top:20vh;
    left:25vw;
    height: 70vh;
    width: 50vw;
    overflow: scroll;
}

#progressDisplay {
    word-wrap: break-word;
}

.popupDiv .closePopupButton {
    position:absolute;
    margin-top:0;
    top: 2%;
    right: 2%;
    color:red;
    font-size:1.3em;
    font-weight:bold;
    background-color:white;
    
}

#addWordDiv {
    margin-top: -29px;
    margin-left: -90px;
}

.centeredText {
    text-align: center;
}

#contextInput {
    width: 60%;
    width: calc(100% - 80px);
}

.partialLeft {
    float: left;
    margin-left: 15%;
}

.partialRight {
    float: right;
    margin-right: 15%;
}


#wordPart {
    width: 80%;
    width: calc(90% - 52px);
}

.clearAll {
    clear: both;
}

.fullWidthBreakText {
    width: 100%;
    word-wrap: break-word;
}


#viewArea {
    margin-top: 10px;
    width: 100%;
    background-color: #baf0ff;
}

#resultsArea {
    overflow: auto;
}

#pageSwitcherSuper {
    left: 0%;
    width: 100%;
    background-color: gray;
}

#pageSwitcherSub {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -125px;
    background-color: gray;
}


#pageInput {
    width: 40px;
}


.disableButtons *:not(.alwaysClickable) {
    pointer-events: none;
}

.disableButtons *:not(.alwaysShow) {
    opacity: 0.4;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding-right: 5px;
}
textarea.highlighted {border:3px dashed yellow;}


#resultsTable {
    width: 100%;
    table-layout: fixed;
}

table  tr  td  p {
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 0px;
}
.resultsTableInput {
    background-color: #baf0ff;
    height: 100%;
    width: 100%;
    width: calc(100% - 1px);
    font-size: 120%;
}

.strikethrough {
    text-decoration: line-through;
    color: red;
}

.rootCol, .posCol, .nepCol, .modCol, .selectCol , .dateCol, .editCol, .ch_idCol, .pluralCol {
    width: 6.3%;
}

.wordCol {width:8%;}

.defCol {
    width: 28%;
}

.statCol {
    width: 15%;
}

.entryDeleteButton {
    background-color: red;
    float: right;
    height: 100%;
    font-size: calc(1.4vw - 30px / 6);
    word-wrap: normal;
    width: 45%;
}

.statButton {
    height: 100%;
    background-color: lime;
    font-size: calc(1.4vw - 30px / 8);
    word-wrap: normal;
    width: 45%;
}

.cancelButton {
    display:none;
    height: 100%;
    float: right;
    background-color: orange;
    font-size: calc(1.4vw - 30px / 6);
    word-wrap: normal;
    width: 30%;
}

.primCol input {
    margin-left: 50%;
    margin-left: calc(50% - 6px);
}

.statColorDeleted {
    background-color: red;
}

.statColorAccepted {
    background-color: #21ff02;
}

.statColorModified {
    background-color: yellow;
}

.statColorAdded {
    background-color: orange;
}

.statColorUnedited {
    background-color: #f9eaff;
    pointer-events: none;
}

.selectedCol button {
    height: 100%;
    width: 100%;
}
.selectedWord {
    background-color: #1ace01;
}

.unselectedWord::before {
    content: "un";
}

.unselectedWord {
    font-size:0.75em;
    background-color: gray;
}


#officialViewer {
    position: fixed;
    bottom: 0px;
    z-index: 90;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    max-height: 40%;
}


#footerLabel {
    border: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid #f9eaff;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-bottom: -3px;
    background-color: #f9eaff;
    pointer-events: all;
}

#officialTable {
    clear: left;
    border-top: 3px solid black;
    background-color: #f9eaff;
    pointer-events: all;
}


#officialSearchArea {
    display: inline;
}


#showOverwriteButton.toggledOff::before {
    content: "Show overwritten";
}

#showOverwriteButton.toggledOn::before {
    content: "Hide overwritten"
}

#showOverwriteButton {
    display: inline;
}
#padlock {
    position:absolute;
    right:1vw;
    bottom:6vh;
    height:3vh;
    width: 3vh;
}

#login-id {
    position:absolute;
    display:none;
    right:1vw;
    bottom:10vh;
    color:red;
    font-size: 0.8em;
}

.popup {
    position:fixed;
    font-family: "Comic Sans MS", cursive, sans-serif;
    top:33%;
    left:25%;
    margin:auto;
    padding: 5px;
    overflow:auto;
    width:50%;
    background-color:#fff;
    color:black;
    font-size:2.5em;
    border:2px solid black;
    border-radius:6px;
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
}

.popup input { /*The input inside the popup*/
    color: black;
}

.popup-button{ /*Buttons inside popups, for example the "OK" button*/
    height: 5vh;
    width: 7vw;
    float : right;
    font-size : 1.5vw;
    position: relative;
}
#close-popup { /*Specifically the cancel button of a popup*/
    float: left;
}

#dismiss-popup { /* close popup button*/
    color : white;
    background: red;
    width: 3vw;
}

/*
.all-transparent { //makes screen transparent
    opacity: .6;
}*/

.xlat {display:none;}

#verbFormChoices {
    position:absolute;
    font:inherit;
    top:50vh;
    left:53vw;
}

#verbFormChoices select {font-size:1.5em;}
