/* Map Game */
h1 {
	text-align: center;
}
canvas {
    width:70vw;
    height:70vh;
}

#txtOutput{
    color: black;
    background-color: white;
    width: 20vw;
    height: 10vh;
    position: absolute;
    bottom: 7.5vh;
    left: 3vw;
    font-size: 1em;
    text-align:center;
    line-height:1em;
}

#fullscreen {
    background-color: #091F48;
}

button#fullscreen-control {
    display:inline-block;
}

button.speak {
    display:inline-block;
    z-index:2000;
}

button.lookup {
    display:inline-block;
}

#userGuess {color:black;}
