#main-container-horizontal {
    display:grid;
    grid-template-rows:    [top]  2fr [classes] 3fr [subjects] 4fr [bottom];
}

#title    { grid-row:top;     justify-content:center;}
#classes  { grid-row:classes; justify-content:center;}
#subjects { grid-row:subjects;justify-content:center;}

button.class {
    height:50%;
    width:8vw;
    font-size:5em;
    margin: 1% 2%;
}
button.subject {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position:center;
    
    width:15%;
    height:80%;
    margin: 1% 2%;
    font-size: 2em;
}


.button-5 img {
    height: 90%;
    width: 80%;
}

button.subject.active {
    background-color: #00f;
    
}
button#add  {       background-image:url('../images/plus.png');  }
button#add.active { background-image:url('../images/plus-white.png');
    }

button#sub  {       background-image:url('../images/minus.png');  }
button#sub.active { background-image:url('../images/minus-white.png');
}

button#mult  {      background-image:url('../images/times.png');  }
button#mult.active {background-image:url('../images/times-white.png');
    }

button#div  {       background-image:url('../images/divide.png');  }
button#div.active  {background-image:url('../images/divide-white.png');
 }

