body {font-size:2vw;}

#left, #right {
    background-color:white;
    color:blue;
    height:50vh;
    width: 40vw;
    border: 1px solid black;
    margin:25px 25px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#left {float:left;}
#right {float:right;}

#left p, #left span {display:block;
    max-width:1000px;
    white-space:nowrap;
        text-overflow:ellipsis;}

button#fullscreen-control {
    display:inline-block;
}
