body {
	background-color: white;
	color: #000;
}

/*
button {
    background-color:#fff;
    	background: linear-gradient(#fff, #777);

    cursor:pointer;
	font: bold 3em;
	border: 1px solid #ccc;
    -webkit-box-shadow:0 1px 3px #000000;
    -moz-box-shadow:0 1px 3px #000000;
    box-shadow:0 1px 3px #000000;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
}

*/
button {

        text-align: center;
        padding-top: 12px;
        text-shadow:0 1px 1px #fff;
        background-color: #fff;
        cursor: pointer;
        font-size: 1.5em;
        border:0.5px solid black;
        border-radius: 5px;
        font-family: Arial Unicode MS;


    /*box shadow*/
    -webkit-box-shadow:0 1px 3px #000000;-moz-box-shadow:0 1px 3px #000000;box-shadow:0 1px 3px #000000;
    /*box radius*/
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*gradient*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */

        box-shadow:0 2px 3px #000;
}


button:hover {
	background-color: #c3c3c3;
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}

button.active {
    background:none;
    background-color:#e5e5ff;
    color:yellow;
}
