
#toolbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
    padding: 0 2%;
    background-color: var(--looma-toolbar);
}

#toolbar-container-vertical {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items:center;
    overflow: hidden;
    background-color: var(--looma-toolbar);
);
}

#toolbar {
    flex-grow:10;
    flex-basis:0;
    display:flex;
}

#toolbar-vertical {
    display:flex;
    flex-direction:column;
}
#logo-div {
    flex-grow: 2;
    flex-basis:0;
    max-height:100%;
}
#padlock-div {
    flex-grow:1;
    flex-basis:0;
    width:100%;
}

#padlock {
    position:absolute;
    right:2vw;
    bottom:3.5vh;
    height:3vh;
    width: 3vh;
}

#toolbar button {
    margin: 0.3vw;
    height: 8vh;
    width: 8vh;
    font-weight: bold;
    background-position: center;
    
}
.toolbar-button-vertical {
    margin: 0.2vw;
    height: 6vh !important;
    width: 4vw;
    font-weight: bold;
  
    font-size: 1em;
    background-position: center;
}

.toolbar-button-vertical img{
    height:100%;
}

button.flag-vertical {
    height:6%;
}

.toolbar-button:hover, .toolbar-button-vertical:hover {
    transform: scale(1.2,1.2);
    background-color:#888;
    border: 2px solid white;
}

#toolbar span {
    flex-grow: 2;
    flex-basis: 20vw;
    vertical-align: unset;
}

/*
#toolbar button img {
    max-height:80%;
    max-width:80%;
    vertical-align:unset;
}
*/

#toolbar span img {
    max-width:90%;
    max-height: 90%;
}

#logo-div {
    text-align:center;
}

.toolbar-logo {
    margin:0 auto;
    height:5vh;
}
.toolbar-logo.vertical {height:3vh;}

span.logo {
    display:inline-block;
    width:100%;
}

span#datetime {
    margin:0 0 5px 0 ;
    display:inline-block;
    color: #000;
}

span.logo-vertical {
    display:inline-block;
    height: 20%;
    width: 100%;
}
