body {
	background-color: #000;
			/* medium blue is #1853C1;*/
			/* "looma" dark blue is #091F48;*/
	font-family: Helvetica, sans-serif;
	color: #fff;
}

#toolbar-container {
	background-color:  #bbb;
}

button {
	background-color: #fff;
	border: 2px solid white;
	border-radius: 5px;
	font: bold 3em;
	cursor: pointer;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0.3) 100%); /* Chrome10+,Safari5.1+ */
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30);


	/* COLORS:
	 * 	lime	59b606
	 * blue		027bbf
	 * pink		8ff
	 * lt blue	f8f
	 */
}

button.active {
    background: none;
    background-color: #0000FF;
    color:yellow;
}
