#main-container-horizontal {
    overflow-y:auto;
}
.title h1{
    font-size:4em;
    margin-top:3vh;
    margin-bottom:5vh; h1
}

button.game {
    height:15vh;
    width:30vw;
    margin:5px;
    font-size:2em;
}
p.small {font-size:0.6em;}