#main-container-horizontal {
    position:relative;
    margin:auto;
}
#fullscreen {
    min-height:100%;
    min-width:100%;
    max-height:100%;
    max-width:100%;
}
#world {
    position:relative;
    background-color: transparent;
    height: 90vh;
    width: 100vw;
    margin:auto;
    padding:7px;
    display:grid;
    grid-gap:1px;
}

.cell {
    display:inline;
    height:3vh;width:3vh;
 /*   min-height:1vh;min-width:1vh;
    max-height:1vh;max-width:1vh; */
    margin:0;
    padding:0;
}
.cell      {    background-color:white;}
.cell.live {    background-color:red;}


button#fullscreen-control {
    display: inline-block;
    right: 3vw;
    bottom: 15.5vh;
}

button#fullscreen-playpause {
    display: inline-block;
    bottom:26vh;
    right:3vw;
    height:10vh;
    width:10vh;
    z-index:2147483647; /*this is 2^31-1 which is the z-index browsers use for FULLSCREEN */
    background-image: url("../images/video.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgba(200,200,200,1);  /*transparent light gray*/
}
